@import "compass/reset";
@import "compass/utilities";

@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

/* ___-_ font-face _-________________ */

@font-face {
    font-family: 'cutie_starscript';
    src: url('/atnls/fonts/cutie_star-webfont.woff2') format('woff2'),
         url('/atnls/fonts/cutie_star-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin oxy { font-family: 'Oxygen', sans-serif; }
@mixin cutie { font-family: 'cutie_starscript', serif; }
// .ft-awesome { @include cutie }
.ft-cutie { @include cutie; }

$yellow: #a876af;
$green: #1c262c;

  /* ELEMENTOS GENERALES */
body { background: white; padding: 0; @include oxy; font-size: 14px; line-height: 1.2em; font-weight: 300; }
a, a:hover { cursor: pointer!important; color: $yellow; font-weight: 900; }
a.btn { text-decoration: none; }

p { font-size: 1.2em; line-height: 1.4em; margin-bottom: 1.4em; }
  p.nota { font-size: 0.9em; text-align: right; padding-left: 40%; }
  p em { font-style: italic; }

h1 { @include cutie; font-size: 10em; line-height: 1em; }
h2 { margin-bottom: 1.2em; font-weight: 900; line-height: 1em; margin-top: 1em; font-size: 1.4em; }
h3 { display: block; text-transform: uppercase; font-weight: 900; font-size: 1.4em; padding-bottom: 3em; line-height: 1.2em; text-decoration: none;
  a { text-decoration: none; color: $yellow; }
  i.fa { color: #333; font-size: 2em; padding-left: 0.5em; }
}
h4 { padding-bottom: 10px; font-size: 1.25em; line-height: 1.2em; }
h5 { padding-bottom: 10px; font-size: 1.5em; line-height: 1.1em; }
h6 { padding-bottom:  8px; font-size: 1.1em; line-height: 1.1em; }

strong { font-weight: 600; }

/* Class for hidding elements if JavaScript is enabled */
html.js body .hidden { display:none; }
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}

iframe { border: none; }

/* ___-_ workers _-________________ */
.inline { display: inline; }

/* Media elements, image + text */
.wk-media-l { float:left; }
  .wk-media-l img,
  .wk-media-r img { display:block; }
.wk-media-r { display:table-cell; zoom:1; }

/* Columns */
.wk-col-l { display:inline; float:left; }
.wk-col-r { display:inline; float:right; }
.wk-col-50 { width: 48%; margin: 0 1%; }
.wk-col-33 { width: 33%; }
.wk-cent { text-align: center; }
.wk-right { text-align: right; }

.wk-clr-l { clear: left; }
.wk-clr-r { clear: right; }
.wk-clr-b { clear: both; }

.wk-valign { display: table; vertical-align: middle; height: 100%; width: 100%; }
  .wk-valign-cont { display: table-cell; vertical-align: middle; text-align: center; }

//   /* apaños */
// .wrap2 { width: 100%; max-width: 790px; margin: 0 auto 2em auto; position: relative; }
// .wrap3 { width: 100%; max-width: 1060px; margin: 0 auto 2em auto; position: relative; }
// .wrap-video-inn { width: 100%; max-width: 570px; margin: 0 auto 2em auto; position: relative; }

// .wrap { position: relative; width: 100%; max-width: 1024px; padding: 0 10px; margin: 0 auto 2em auto; @include box-sizing(border-box); }
// .wrap-head { position: relative; width: 100%; max-width: 760px; padding: 0 10px; margin: 0 auto;margin-top: 4em; @include box-sizing(border-box);
//   p { font-size: 1.5em; line-height: 1.2em; }
// }

// .wrap-photo { position: relative; max-width: 760px; margin: 0 auto 2em auto; max-width: 1200px;
//   img { width: 100%; height: auto;  }
//   .wrap-photo-img { margin-bottom: 1em; }
//   .wrap-photo-side { margin-bottom: 0.4em; padding: 0 10px; max-width: 80%; margin: 0 auto; text-align: center; @include box-sizing(border-box); argin-bottom: 1em; }
//     .wrap-photo-side-title { @include cutie; margin-bottom: 0.4em; font-weight: 900; font-size: 1.4em; line-height: 1.1em; }
//     .wrap-photo-side-info { font-size: 0.9em; }
//     p { margin-bottom: 0.4em; }
//   @media (min-width: 1024px) {
//     .wrap-photo-img { padding-right: 20%; @include box-sizing(border-box); }
//     .wrap-photo-side { position: absolute; top: 0; right: 0; width: 20%; font-size: 0.9em; text-align: left; }
//   }
// }

// .wrap-graph { position: relative; margin-bottom: 1em;
//   .wrap-graph-img { width: 100%; height: auto;
//     img { width: 100%; height: auto; }
//   }
//   .wrap-graph-side { font-size: 1.1em; padding: 0 10px; @include box-sizing(border-box); max-width: 700px; margin: 0 auto 2em auto; width: 100%;
//     .wrap-graph-title { @include cutie; margin-bottom: 0.4em; font-weight: 900; font-size: 1.4em; line-height: 1.1em; }
//     p { margin-bottom: 0.4em; }
//   }
//   .wrap-graph-info { font-size: 0.9em; }
//   @media (min-width: 800px) {
//     & { font-size: 0.9em; }
//       .wrap-graph-img { padding-right: 30%; @include box-sizing(border-box); }
//       .wrap-graph-side { position: absolute; bottom: 0; right: 0; width: 30%; font-size: 0.9em; }
//   }
//   @media (min-width: 1024px) {
//     & { max-width: 1200px; margin: 0 auto; }
//       .wrap-graph-side { font-size: 1em; }
//   }
// }

// .content-wrap { position: relative; width: 100%; max-width: 640px; padding: 0 10px; margin: 0 auto 2em auto; @include box-sizing(border-box); }
//   .content-quote { @include cutie; margin-bottom: 0.4em; font-weight: 900; font-size: 1.2em; line-height: 1.1em;
//       max-width: 515px; margin: 0 auto; width: 100%;
//     @media (min-width: 1024px) { position: absolute; right: 0; width: 190px; font-size: 1.1em;
//       p { line-height: 1em; }
//       &.content-quote-left { right: initial; left: 0; text-align: right; }
//     }
//   }

// .video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
//   .video-container iframe, .video-container object, .video-container embed,
//   .video-container .vimeo-poster { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


//     /* home grid __________ */
// .grid { @include cutie; color: white; border-bottom: 4px solid white; border-right: 4px solid white;

//   .col-3 { width: 33.333%; float: left; position: relative; @include box-sizing(border-box); }
//   .col-6 { width: 66.666%; float: left; position: relative; @include box-sizing(border-box); }

//   @media (max-width: 1200px) { font-size: 0.8em; }
//   @media (max-width: 900px) { font-size: 0.6em; }
//   @media (max-width: 680px) { .col-3, .col-6 { width: 100%; } }

//   .bl-min, .bl-big { position: relative; width: 100%; height: 0; padding-bottom: 80%; @include box-sizing(border-box); overflow: hidden;


//     .wk-valign { position: absolute; border: 4px solid white; border-collapse: separate; border-bottom: 0; border-right: 0; @include box-sizing(border-box);
//          &:after { content: ''; display: block; height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: 1; @include transition(all 2s ease-in-out); }
//          &:hover:after { box-shadow: inset 0 0 240px 10px black; }
//        }
//       .wk-valign-cont { margin: 4px; position: relative; overflow: hidden; background: $yellow; }

//     a { color: white; display: block; text-decoration: none; height: 100%; position: absolute; width: 100%; }
//     .content { position: relative; padding: 0 2em; z-index: 2; }
//     .border { position: relative; display: block; max-width: 50%; margin: 0 auto; padding: 1em; border: 2px solid white; }
//     .tag { display: inline-block; margin-top: 0.4em; text-transform: uppercase; background: $yellow; padding: 0.6em 0.8em; font-weight: 900; font-size: 1.4em; }

//     h2 { font-size: 2.4em; line-height: 1.2em; margin: 0.4em 0; text-shadow: 2px 2px 2px #333;
//       a { width: auto; height: auto; display: inline-block; position: inherit; padding: 0.2em 0.2em; }
//     }
//     img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include transition(all 2s ease-in-out); }
//       &:hover img { @include transform(scale(1.1)); @include transform-origin(50%); @include transition-delay(0.4s); }

//   }
// }

// .ifrm iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

// //
// // #footer-grid {
// //   .col-3 { width: 16.666%; float: left; position: relative; @include box-sizing(border-box); }
// //   .col-6 { width: 33.333%; float: left; position: relative; @include box-sizing(border-box); }
// // }

//   /* cabeceras __________ */
// #headFoto, #headVideo { margin: 0; position: relative; text-align: center; font-size: 0.8em;
//       height: 0; top: 0; left: 0; width: 100%;
//   .video-container { position: absolute; top: 0; left: 0; width: 100%; }
//   #initVideo { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
// }
// #headVideo { padding-bottom: 56.25%; }
// #headFoto {
//   .wrap-headImg { position: absolute; width: 100%; height: 100%; overflow: hidden;
//     img { width: 100%; height: auto; }
//   }
// }

// .head-tag  { display: inline-block; max-width: 760px; z-index: 1; position: relative; text-align: left; line-height: 1.4em; float: left;
//     @include cutie; font-weight: 900; font-size: 1.6em; padding: 0 20px; margin-bottom: 0.8em;
//   span { background: #333; color: white; padding: 0.2em 0.4em 0.2em 0; box-shadow: -10px 0 #333, 11px 0 #333; text-transform: uppercase; }
//   @media (min-width: 900px) { font-size: 1.8em; }
//   @media (min-width: 1200px) { font-size: 2em; }
// }

// .pageTitle { position: absolute; bottom: -1em; width: 100%; color: white;
//   .wrap { margin-bottom: 0; }
//   h1 { display: inline-block; width: 100%; z-index: 1; position: relative; text-align: left; line-height: 1.4em; background: $green;
//       @include cutie; font-weight: 900; font-size: 2em; padding: 0.2em 20px; @include box-sizing(border-box);
//     @media (min-width: 900px) { font-size: 2.4em; }
//     @media (min-width: 1200px) { font-size: 2.8em; }
//   }
// }
// .no-touch .whatsap { display: none!important; }

// #headFix { height: 60px; @include box-sizing(border-box); z-index: 10; width: 100%;  position: relative;
//   &.stuck { position: fixed; top:0; z-index: 9999; } }

// #head-main { height: 60px; box-shadow: 0 5px 16px -11px black; overflow: hidden; background: #1A2f3c; z-index: 10000; position: relative; color: white;
//       padding: 0.5em; @include box-sizing(border-box);
//   @media (max-width: 900px) {
//     & { padding: 0.5em 0.2em; }
//     #homeLink { width: 32px; margin-right: 0.8em; margin-top: 0.5em; }
//   }
//   @media (max-width: 500px) {
//     #toggleMenu { width: 22px; margin: 5px 0; }
//   }
//   @media (max-width: 250px) { .h1 { display: none; } }
// }
// .h1 { @include cutie; line-height: 2em; font-size: 2.1em; margin-right: 1em; text-align: right; margin-top: 0.3em; text-transform: uppercase; font-weight: 900;
//   span { margin-right: 0.4em; }
//   a { width: auto!important; height: auto!important; font-size: inherit!important; text-decoration: none!important; text-align: right!important; margin-top: 2px!important;
//     &:hover { text-decoration: underline; } }
//   @media (max-width: 950px) { line-height: 1.1em; margin-top: -0.1em; font-size: 1.7em;
//     span { display: block; margin: 0; }
//   }
//   strong { font-weight: 100; }
// }

// .superhead {
//   .wk-valign { position: relative; z-index: 1; }
//   .head { display: inline-block; font-size: 4em; line-height: 1.2em; text-transform: uppercase; @include cutie; margin-bottom: 0.2em; color: white; 
//     span { background: $yellow; box-shadow: 10px 0 0 #a876af, -10px 0 0 #a876af; }
//   }
//   .subhead { color: white; font-size: 3em; line-height: 1.1em; }
//   @media (max-width: 950px) { font-size: 0.8em; }
//   @media (max-width: 600px) { font-size: 0.7em; }
//   @media (max-width: 450px) { font-size: 0.5em; }
// }

// // #head-menu, #footer-menu, #footer-video { clear: both; background: none; position: absolute; top: 60px; width: 100%; left: 0; padding: 0 1em; padding-bottom: 1em;
// //     @include box-sizing(border-box); background: #34393d;
// //   ul { width: 100%; max-width: 1200px; margin: 0 auto; }
// //   li {  overflow: hidden; width: 100%; float: left;  }
// //   .hm-wrap { display: block; text-align: center; float: left; width: 100%;
// //       @include box-sizing(border-box); padding: 1.4em 0.6em 0 0.6em; height: 90px; }
// //   .hm-wrap-act a { background: #222!important; }
// //   a { line-height: 1.4em; display: block; text-transform: uppercase; border: 1px solid white;
// //       text-decoration: none; @include cutie; font-weight: 300; color: white; background: #34393d; height: 100%;
// //       text-align: left; position: relative; padding: 1.4em 0.6em 1em 0.6em;
// //       @include box-sizing(border-box); font-size: 1em;
// //     .tag { position: absolute; left: 1em; top: -0.9em; color: white; background: $yellow; display: block; padding: 0.1em 0.4em; }
// //   }
// // }
// // #footer-menu { display: block!important; position: relative; bottom: 0; width: 100%; height: auto!important; padding-bottom: 1em!important;
// //     padding-bottom: 1em!important; top: 0; padding-top: 1em;
// // }
// // @media (min-width: 950px) {
// //   .page-home #footer-menu { display: none!important; }
// // }
// //
// // #footer-video { display: block; top: initial; bottom: 0; background: none; font-size: 0.8em;
// //   li a { background: #34393d; font-size: 1.8em; }
// // }
// //
// // @media (min-width: 950px) {
// //   #head-menu, #footer-menu, #footer-video  { @include transition(all 1s); height: 0; overflow: hidden; padding-bottom: 0;
// //     li {  width: 16.6%; height: 150px; }
// //     .hm-wrap { height: 100%; }
// //   }
// //   #headFix:hover #head-menu, #footer-video { height: 165px; }
// // }
// // @media (max-width: 950px) {
// //   #head-menu, #footer-menu, #footer-video  { display: none; }
// //   // #headFix:hover #head-menu, #headFix.act #head-menu { @include transform(translateY(-100%)); }
// // }

// #homeLink { text-decoration: none; text-transform: uppercase; color: #333; text-indent: -999px; overflow: hidden; display: inline-block; width: 200px;
//       margin: 0.9em; float: left; margin-left: 0.4em; margin-right: 0; left: 0; width: 170px; height: 34px;
//       background: url() no-repeat;
//       -moz-background-size: 164px auto; -o-background-size: 164px auto; -webkit-background-size: 164px auto; background-size: 164px auto;
//   @media (min-width: 900px) { & { margin-left: 1em; margin-right: 1em; margin-top: 8px; } }
//   img { width: auto; height: auto; }
// }
// #head-eldiario, #are { display: block; float: right; }
// #head-eldiario { height: 30px; width: 29px; overflow: hidden; padding: 0; margin: 5px;
//   @media (min-width: 770px) { & { width: 150px; } }
//   img { width: 148px; } }
// #head-share { float: right;
//   li { float: right }
//     a { display: block; width: 30px; height: 30px; margin: 5px; color: white; font-size: 2.4em; font-weight: 300;
//       line-height: 1em; text-align: center; margin-top: 7px; }
// }
// p.question {
//     font-weight: 900;
//     font-style: italic;
//     text-align: right;
// }
// #head-share #toggleMenu { display: block; width: 30px; height: 35px; margin: 5px; overflow: hidden; font-size: 2.1em; line-height: 1.3em;
//   @media (max-width: 900px) { line-height: 1.3em; }
// }

// .page-home {
//   #head-menu { display: none!important;; }
//   #head-share #toggleMenu { display: none; }
// }

// #head-menu { position: fixed; top: 0; left: 0; height: 0; width: 100%; overflow: auto; padding-top: 60px; @include box-sizing(border-box); }

// .bl-share { text-align: center; padding-top: 3em; font-size: 1.5em; @include cutie; line-height: 1.1em; margin-bottom: 2.4em;
//   strong { display: block; }
//   li { display: inline-block; }
//   li a { color: #333; font-size: 1.8em; padding: 0 0.2em; }
// }

// @media (max-width: 540px) {
//   .wrap { padding: 0 10px 2em 10px; }
//     .pageTitle .wrap { padding: 0 10px 0 10px; margin: 0; }
//   .post-content p a { white-space: normal!important; }
// }
// .post-content { position: relative; }

//   /* BLOQUES */
// .img-50 { width: 50%; float: left; @include box-sizing(border-box);
//     &.img-50-l { padding-right: 4px; }
//     &.img-50-r { padding-left: 4px; }
//     img { width: 100%; height: auto; }
//     .wrap-video-inn { margin: 0 }
//   @media (max-width: 640px) { &.img-50-l, &.img-50-r { width: 100%; padding: 0; } }
// }

// figure { margin-bottom: 1em;
//   img { width: 100%; height: auto; }
//   figcaption { font-size: 0.8em; font-weight: 600; max-width: 90%; padding: 0.4em 1em 0.4em 1.6em; position: relative;
//    &:before { display: block; content: ''; position: absolute; bottom: 0; left: 0; height: 75px; width: 8px; background: $yellow;
//       }
//    p { line-height: 1em; margin: 0; }
//    cite { font-weight: 100; }
//  }
// }

//   /* SECCIONES */
// .bl-sct { padding-top: 2em; }

// #timeline { display: none; }
// @media (min-width: 1100px) {
//   #timeline { display: block; float: right; width: 120px; height: 2500px;
//     iframe { width: 400px; float: left; height: 2500px; }
//   }
// }

// #side-share { position: fixed; right: 0; top: 60%; background: $yellow; z-index: 10; font-size: 2em; text-align: center; padding: 0.2em 0;
//   @media (max-width: 800px) { bottom: 0; top: initial;

//   }
//   a { padding: 0.4em; display: inline-block; color: white; line-height: 0.3em; text-decoration: none; }
// }

// #sct-01-huida { padding-top: 6em; }

// #sct-04-end { position: relative; padding: 0; }
//   #sct-04-end:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
//     background-color: rgba(50,50,50,0.6); z-index: 1; }

// #creditos { position: absolute; bottom: 0; width: 100%; color: white; z-index: 2; text-align: center; margin: 2em 0;
//   @media (max-width: 1000px) { & { font-size: 0.9em; } }
//   @media (max-width: 900px) { & { font-size: 0.9em; position: relative; } }
//  }
// @media (max-width: 900px) { #sct-04-end .video-container { position: absolute; bottom: 0; width: 100%; } }
// #creditos a { color: white; text-decoration: none; }
//   #creditos a:hover { text-decoration: underline; }

//   #creditos li { margin-bottom: 1em; font-size: 1.4em;
//       @media (max-width: 1500px) { & { width: 50%; float: left; } }
//   }
//     #creditos li span { font-weight: 900; display: block; text-transform: uppercase; line-height: 1em; }
//   #creditos h3 span { padding: 0.5em 1em; line-height: 2em; }

// #content-holder { margin: 0; padding-bottom: 10em; }


// /* @author: Xavier Damman (@xdamman) - http://github.com/xdamman/selection-sharer - @license: MIT */
// @keyframes selectionSharerPopover-animation{0%{transform:matrix(0.97,0,0,1,0,12);filter:alpha(opacity=0);opacity:0}20%{transform:matrix(0.99,0,0,1,0,2);filter:alpha(opacity=70);opacity:.7}40%{transform:matrix(1,0,0,1,0,-1);filter:alpha(opacity=100);opacity:1}100%,70%{transform:matrix(1,0,0,1,0,0);filter:alpha(opacity=100);opacity:1}}#selectionSharerPopover{display:none;position:absolute;top:-100px;left:-100px;z-index:1010}#selectionSharerPopover:after{content:'';display:block;position:absolute;bottom:-3px;left:50%;margin-left:-4px;width:8px;height:8px;-webkit-transform:rotate(45deg);transform:rotate(45deg);background:#262625;box-shadow:0 0 2px #262625}#selectionSharerPopover.anim{transition:top .075s ease-out;animation:selectionSharerPopover-animation 180ms forwards linear;-webkit-animation:selectionSharerPopover-animation 180ms forwards linear}#selectionSharerPopover-inner{position:relative;overflow:hidden;-webkit-border-radius:5px;border-radius:5px;border:1px solid;border-color:#262625 #1c1c1b #121211;box-shadow:0 1px 3px -1px rgba(0,0,0,.7),inset 0 0 1px rgba(255,255,255,.07),inset 0 0 2px rgba(255,255,255,.15);background-image:linear-gradient(to bottom,rgba(49,49,47,.97),#262625);background-repeat:repeat-x}#selectionSharerPopover .selectionSharerPopover-clip{position:absolute;bottom:-11px;display:block;left:50%;clip:rect(12px 24px 24px 0);margin-left:-12px;width:24px;height:24px;line-height:24px}#selectionSharerPopover .selectionSharerPopover-arrow{display:block;width:20px;height:20px;-webkit-transform:rotate(45deg) scale(0.5);transform:rotate(45deg) scale(0.5);background-color:#454543;border:2px solid #121211;box-sizing:content-box}.selectionSharer ul{padding:0;display:inline}.selectionSharer ul li{float:left;list-style:none;background:0 0;margin:0}.selectionSharer a.action{display:block;text-indent:-200px;margin:5px 7px;width:20px;height:20px;border:0}.selectionSharer a:hover{color:#ccc}.selectionSharer a.tweet{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="171" height="139"><g transform="translate(-282.32053,-396.30734)"><path style="fill:white" d="m 453.82593,412.80619 c -6.3097,2.79897 -13.09189,4.68982 -20.20852,5.54049 7.26413,-4.35454 12.84406,-11.24992 15.47067,-19.46675 -6.79934,4.03295 -14.3293,6.96055 -22.34461,8.53841 -6.41775,-6.83879 -15.56243,-11.111 -25.68298,-11.111 -19.43159,0 -35.18696,15.75365 -35.18696,35.18525 0,2.75781 0.31128,5.44359 0.91155,8.01875 -29.24344,-1.46723 -55.16995,-15.47582 -72.52461,-36.76396 -3.02879,5.19662 -4.76443,11.24048 -4.76443,17.6891 0,12.20777 6.21194,22.97747 15.65332,29.28716 -5.76773,-0.18265 -11.19331,-1.76565 -15.93716,-4.40083 -0.004,0.14663 -0.004,0.29412 -0.004,0.44248 0,17.04767 12.12889,31.26806 28.22555,34.50266 -2.95247,0.80436 -6.06101,1.23398 -9.26989,1.23398 -2.2673,0 -4.47114,-0.22124 -6.62011,-0.63114 4.47801,13.97857 17.47214,24.15143 32.86992,24.43441 -12.04227,9.43796 -27.21366,15.06335 -43.69965,15.06335 -2.84014,0 -5.64082,-0.16722 -8.39349,-0.49223 15.57186,9.98421 34.06703,15.8094 53.93768,15.8094 64.72024,0 100.11301,-53.61524 100.11301,-100.11387 0,-1.52554 -0.0343,-3.04251 -0.10204,-4.55261 6.87394,-4.95995 12.83891,-11.15646 17.55618,-18.21305 z" /></g></svg>') no-repeat;background-size:18px;background-position:2px 4px}.selectionSharer a.facebook{background:url('data:image/svg+xml;utf8,<svg viewBox="0 0 33 33" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path style="fill:white" d="M 17.996,32L 12,32 L 12,16 l-4,0 l0-5.514 l 4-0.002l-0.006-3.248C 11.993,2.737, 13.213,0, 18.512,0l 4.412,0 l0,5.515 l-2.757,0 c-2.063,0-2.163,0.77-2.163,2.209l-0.008,2.76l 4.959,0 l-0.585,5.514L 18,16L 17.996,32z"></path></g></svg>') no-repeat;background-size:18px;background-position:0 2px;display:none}.selectionSharer a.email{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="64"><g transform="translate(-10, -10)" fill="transparent"><rect x="0" y="0" width="114" height="114"></rect><path d="M12,12 L102,12 L102,72 L12,72 L12,12 Z M16,12 L53,49 C55.6666667,51 58.3333333,51 61,49 L98,12 L16,12 Z M15,72 L45,42 L15,72 Z M69,42 L99,72 L69,42 Z" stroke="white" stroke-width="5"></path></g></svg>') no-repeat;background-size:20px;background-position:0 4px}#selectionSharerPopunder.fixed{transition:bottom .5s ease-in-out;width:100%;position:fixed;left:0;bottom:-50px}.selectionSharer{transition:-webkit-transform .6s ease-in-out}.selectionSharer.moveDown{-webkit-transform:translate3d(0,60px,0)}#selectionSharerPopunder{position:absolute;left:0;width:100%;height:0;transition:height .5s ease-in-out;background:#ccc;border:0;box-shadow:inset 0 10px 5px -10px rgba(0,0,0,.5),inset 0 -10px 5px -10px rgba(0,0,0,.5);border-radius:0;overflow:hidden}#selectionSharerPopunder.show{height:50px}.selectionSharerPlaceholder{height:1em;margin-bottom:-2em;transition:height .5s ease-in-out}.selectionSharerPlaceholder.show{height:50px!important}#selectionSharerPopunder-inner ul{overflow:hidden;float:right;margin:0}#selectionSharerPopunder-inner ul li{padding:5px;overflow:hidden}#selectionSharerPopunder-inner label{color:#fff;font-weight:300;line-height:50px;margin:0 20px 0 10px}#selectionSharerPopunder-inner a{width:30px;height:30px;background-size:30px}#selectionSharerPopunder-inner a.tweet{background-position:0 2px}


// #dictio { overflow: auto; position: relative;
//   .slide-container { padding: 0; overflow: auto; height: auto; padding: 0!important; }
//     .slide-elm { position: relative; height: auto; width: 100%; padding: 0; }
//     .slide-content { top: 2em; width: 80%; margin: 0 10%; z-index: 1; background: rgba(255,255,255,0.9); padding: 2em; @include box-sizing(border-box);
//       h1 { @include cutie; font-weight: 900; font-size: 2.4em; line-height: 1em; margin-bottom: 0.4em; }
//     }
//   .pager { text-align: center; @include cutie; font-weight: 900; text-transform: uppercase; height: 2.4em; overflow: hidden; margin-bottom: 1em;
//     a { display: block; float: left; width: 3.846%; text-decoration: none; color: #333; font-size: 1.2em; height: 2em; line-height: 2.7em;
//       &.act { font-size: 2.4em; line-height: 1.1em; }
//     }
//   }
//   @media (max-width: 800px) {
//     .pager {  font-size: 0.7em; height: 5em;
//       a { width: 5%; }
//     }
//     .slide-content { margin: 0 4%; width: 92%; font-size: 0.8em; padding: 0.4em; }
//   }
//   img { position: absolute; top: 0; width: 100%; height: auto; opacity: 0; display: none;; }
//   .flechas { display: none; text-align: right; margin-top: 1em;
//     a { display: inline-block; height: 27px; width: 24px; background: #555; color: white; text-align: center; line-height: 2em;
//       &.disabled { background: #ccc }
//     }
//   }
// }

// #dictio.slide-ready {
//   .slide-container { overflow: hidden; }
//   .slide-elm { position: absolute; top: 0; left: 0; width: 100%;
//     .slide-content { @include translateY(-200%); position: absolute; }
//   }
//   img { display: block; }

//   .slide-elm-act {
//     .slide-content { @include transform(translateY(0)); @include transition(all 0.4s ease-in-out); }
//     img { opacity: 1; @include transition(opacity 1s ease-in-out); }
//   }
//   .flechas { display: block; }
// }


// #footer { color: white; background: $green; text-align: center; padding: 2em 2em 4em 2em; opacity: 1;
//   a { color: white; }
//   strong { text-transform: uppercase; }
//   .title { max-width: 940px; margin: 0 auto; font-size: 2em; @include cutie; line-height: 1.2em;
//     @media (max-width: 680px) { font-size: 1.6em;}
//     @media (max-width: 480px) { font-size: 1.4em;}
//     a { display: inline-block; width: 40px; height: 40px; font-size: 1.2em; line-height: 1.3em; text-align: center; }
//     strong {  }
//   }
//   .social { font-size: 2em; margin: 0.8em 0 1.2em 0;
//     a { display: inline-block; width: 40px; height: 40px; font-size: 1.2em; line-height: 1.3em; text-align: center; }
//   }
// }

// .footer-title { background: $yellow; color: white; text-transform: uppercase; margin: 0; line-height: 2.4em; text-align: center; }
