@import "compass/reset";
@import "compass/utilities";

@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

/* ___-_ font-face _-________________ */

@font-face {
    font-family: 'rfont';
    src: url('http://davidruizlopez.es/ruizfont-webfont.woff2') format('woff2'),
         url('http://davidruizlopez.es/ruizfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin oxy { font-family: 'Oxygen', sans-serif; }
@mixin cutie { font-family: 'rfont', serif; line-height: 1.4em; margin-bottom: 0.2em; letter-spacing: 0.3em; }

@mixin closeWhite { position: absolute; z-index: 1; right: 1em; top: 1em; width: 44px; height: 44px; background: url(./img/atnls-sprite.png) -249px -82px no-repeat; }
@mixin closeBlack { @include closeWhite; background-position: -251px -49px; }

// .ft-awesome { @include cutie }
.ft-cutie { @include cutie; }

$yellow: #a876af;
// $green: #1c262c;
$green: #35bebd; .bg-green { background: $green; color: #333; }
$breakpoint: 980;

  /* ELEMENTOS GENERALES */
body { background: white; padding: 0; @include oxy; font-size: 14px; line-height: 1.2em; font-weight: 300;
      position: absolute; height: 100%; width: 100%; }
a { cursor: pointer!important; color: $green; font-weight: 900; @include transition(all 0.4s ease-in-out); }
a.btn { text-decoration: none; padding: 0.6em 1em; background: #333; color: white; display: inline-block; margin: 0.4em 0.4em; }
a.btn-red { background: #CB324B; }

p { font-size: 1.2em; line-height: 1.4em; margin-bottom: 1.4em; }
  p.nota { font-size: 0.9em; text-align: right; padding-left: 40%; }
  p em { font-style: italic; }

h1 { @include cutie; font-size: 10em; line-height: 1em; }
h2 { @include cutie; font-size: 2.4em; margin-bottom: 0.4em; }
h3 { display: block; text-transform: uppercase; font-weight: 900; font-size: 1.4em; padding-bottom: 3em; line-height: 1.2em; text-decoration: none;
  a { text-decoration: none; color: $yellow; }
  i.fa { color: #333; font-size: 2em; padding-left: 0.5em; }
}
h4 { padding-bottom: 10px; font-size: 1.25em; line-height: 1.2em; }
h5 { padding-bottom: 10px; font-size: 1.5em; line-height: 1.1em; }
h6 { padding-bottom:  8px; font-size: 1.1em; line-height: 1.1em; }

strong { font-weight: 900; }

/* Class for hidding elements if JavaScript is enabled */
html.js body .hidden { display:none; }
.clearfix, .poema-body p {*zoom:1} .clearfix:before, .clearfix:after, .poema-body p:before, .poema-body p:after {display:table;line-height:0;content:""} .clearfix:after, .poema-body p:after {clear:both}

iframe { border: none; }

/* ___-_ workers _-________________ */
.inline { display: inline; }

/* Media elements, image + text */
.wk-media-l { float:left; }
  .wk-media-l img,
  .wk-media-r img { display:block; }
  img { width: 100%; height: auto; }
.wk-media-r { display: table-cell; zoom:1; }

/* Columns */
.wk-col-l { display:inline; float:left; }
.wk-col-r { display:inline; float:right; }
.wk-col-50 { width: 50%; @include box-sizing(border-box); padding: 0.4em; }
.wk-col-33 { width: 33%; @include box-sizing(border-box); padding: 0.4em; }
.wk-cent { text-align: center; }
.wk-right { text-align: right; }

.wk-clr-l { clear: left; }
.wk-clr-r { clear: right; }
.wk-clr-b { clear: both; }

.wk-valign { display: table; vertical-align: middle; height: 100%; width: 100%; }
  .wk-valign-cont { display: table-cell; vertical-align: middle; text-align: center; }
    // .wk-valign>.wk-valign-cont

// .url-current { color: red; }
// .url-active { background: #ccc; }

#webdoc { overflow: hidden; background: url('./img/fondo-low-low.jpg'); height: 100%; position: relative; }
.wrap { width: 100%; max-width: 1500px; margin: 0 auto; }
  // #webdoc:before { content: ''; display: block; position: absolute; z-index: 0; pointer-events: none; width: 100%; height: 100%;
  //   background: -moz-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 89%, rgba(0,0,0,0.18) 99%, rgba(0,0,0,0.05) 100%);
  //   background: -webkit-linear-gradient(left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0) 89%,rgba(0,0,0,0.18) 99%,rgba(0,0,0,0.05) 100%);
  //   background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.05) 100%);
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=1 );
  // }

.head { position: relative; top: 0; width: 100%; padding-bottom: 1em; }
  .logo { display: block; margin: 0 auto; width: 40%; padding-top: 1.6em; min-width: 300px; }
  .rtve, .lab, .hamb { display: block; height: 50px; width: 122px; float: left; margin-left: 20px; margin-top: 20px;
      background: url(./img/atnls-sprite.png) -20px -66px no-repeat; cursor: pointer; }
  .hamb:hover { @include transform(rotate(90deg)); }
  .lab { width: 94px; float: right; background-position: -308px -72px; height: 85px; margin-right: 20px; }
  .hamb { width: 55px; background-position: -291px -247px; height: 55px; margin-left: 11px; clear: left; margin-top: 10px; }

    // cabeceras internas negras
  #poemas, #redes, #presentacion, #player { 
    .rtve { background-position: -20px -19px; }
    .lab { background-position: -308px -155px; }
    .hamb { background-position: -232px -247px; }
    .head { z-index: 5; }
    .titleHome, .titleThis { color: white; float: left; line-height: 3.3em; text-decoration: none; font-size: 1.5em; text-transform: uppercase;
        font-weight: 100; margin-left: 0.4em; }
  }


    // cabeceras internas blancas
  .page-poeta {
      .titleHome, .titleThis { color: #333; float: left; line-height: 3.3em; text-decoration: none; font-size: 1.5em; text-transform: uppercase;
         font-weight: 100; margin-left: 0.4em; }
    .titleThis { color: $green }
  }

  .headbar { position: absolute; bottom: 30px; width: 100%; height: auto; }

#compo { position: relative; clear: both;
  * { cursor: pointer; }
  .wrp { overflow: hidden; }
  }

  #luis { position: absolute; right: 0.6%; top: 9%; width: 25.3%; height: 77%;
    img { width: 100%; height: auto; position: absolute; left: 0; top: 0; }
    #luis-fill1, #luis-fill2, #luis-end1, #luis-end2, #luis-end3, #luis-end4 { @include transition(all 1s ease-in-out); display: block; opacity: 0 ; } // @include transform-origin(50%); @include transition-delay(0.4s);
    #luis-fill2 { position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 1;
      .wrp { height: 0; }
      img { position: relative; }
    }
    &:hover {
      #luis-fill1 { opacity: 1; }
      #luis-fill2 { display: block;
        .wrp { height: 100%; @include transition(all 1s ease-in-out); @include transition-delay(0.6s); }
      }
    }
    &.luis1 { #luis-end1 { opacity: 1; } }
    &.luis2 { #luis-end1, #luis-end2 { opacity: 1; } }
    &.luis3 { #luis-end1, #luis-end2, #luis-end3 { opacity: 1; } }
    &.luis4 { #luis-end1, #luis-end2, #luis-end3, #luis-end4 { opacity: 1; } }
    &.luis5 { #luis-end1, #luis-end2, #luis-end3, #luis-end4, #luis-fill1 { opacity: 1; } }
  }

  #escandar { position: absolute; left: 58.7%; top: -1.5%; width: 20.9%; height: 86%;
    img { width: 100%; height: auto; position: absolute; left: 0; top: 0; }
    #escandar-fill1, #escandar-fill1bis, #escandar-fill2, #escandar-end { @include transition(all 1s ease-in-out); display: block; opacity: 0 ; } // @include transform-origin(50%); @include transition-delay(0.4s);
    #escandar-fill2 { position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0; @include transition(all 1s ease-in-out); @include transition-delay(1s);
      // .wrp { height: 0; position: absolute; bottom: 0; }
      img { display: block; position: relative; top: -100%; } }
    #escandar-text { position: absolute; width: 40%; left: 52.3%; top: 66.4%; display: block; display: none;
      img { position: relative; } }
    &:hover {
      #escandar-fill1 { opacity: 1; }
      #escandar-fill2 { opacity: 1; }
      #escandar-fill1bis { opacity: 1; @include transition-delay(0.7s); }
    }
    &.viewed { #escandar-end { opacity: 1; } }
  }

  #guille { position: absolute; left: 43.5%; top: 4.2%; width: 22.7%; height: 86%;
    img { width: 100%; height: auto; position: absolute; left: 0; top: 0; }
    #guille-fill1, #guille-fill1bis, #guille-fill2, #guille-end { @include transition(all 1s ease-in-out); display: block; opacity: 0 ; } // @include transform-origin(50%); @include transition-delay(0.4s);
    #guille-fill2 { position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 1;
      .wrp { height: 0; position: absolute; bottom: 0; }
      img { display: block; position: relative; top: -100%; } }
    #guille-text { position: absolute; width: 27%; left: 59.5%; top: 14.6%; display: block; display: none;
      img { position: relative; } }
    &:hover {
      #guille-fill1 { opacity: 1; }
      #guille-fill1bis { opacity: 1; @include transition-delay(0.7s); }
    }
    &.viewed { #guille-end { opacity: 1; } }
  }

  #carlos { position: absolute; left: 32.5%; top: -1.7%; width: 20%; height: 79%;
    img { width: 100%; height: auto; position: absolute; left: 0; top: 0; }
    #carlos-fill1, #carlos-fill2, #carlos-end { @include transition(all 1s ease-in-out); display: block; opacity: 0 ; } // @include transform-origin(50%); @include transition-delay(0.4s);
    #carlos-fill2 { position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 1;
      .wrp { height: 0; position: absolute; bottom: 0; }
      img { display: block; position: relative; top: -100%; } }
    &:hover {
      #carlos-fill1 { opacity: 1; }
    }
    &.viewed { #carlos-end { opacity: 1; } }
  }

  #marwan { position: absolute; left: 0; top: 3.6%; width: 24.8%; height: 83%;
    img { width: 100%; height: auto; position: absolute; left: 0; top: 0; }
    #marwan-text { position: absolute; width: 27%; left: 13.5%; top: 18.6%; display: block; display: none;
      img { position: relative; } }
    #marwan-fill1, #marwan-fill2, #marwan-end, #marwan-dust { @include transition(all 1s ease-in-out); display: block; opacity: 0; } // @include transform-origin(50%); @include transition-delay(0.4s);
    &:hover {
      #marwan-fill1 { opacity: 1; }
      #marwan-dust { opacity: 1; @include transition-delay(1s); }
      #marwan-fill2 { opacity: 1; @include transition-delay(0.5s); }
    }
    &.viewed { #marwan-end { opacity: 1; } #marwan-dust { opacity: 1; } }
  }

  #elvira { position: absolute; left: 18.5%; top: 8.7%; width: 21.7%; height: 83%;
    img { width: 100%; height: auto; position: absolute; left: 0; top: 0; }
    #elvira-text { position: absolute; width: 38.9%; left: 34.5%; top: 10.6%; display: none;
      img { position: relative; } }
    #elvira-reloj { position: absolute; width: 8.1%; height: 14%; left: 63.6%; top: 14%;
      .wrp { height: 0; }
      img { position: relative; } }
    #elvira-fill1, #elvira-fill2, #elvira-end { @include transition(all 1s ease-in-out); display: block; opacity: 0; } // @include transform-origin(50%); @include transition-delay(0.4s);
    #elvira-fill2 { @include transition(all 1s ease-in-out);  }
    &:hover {
      #elvira-fill1 { opacity: 1; }
      #elvira-fill2 { opacity: 1; @include transition-delay(0.5s); }
      #elvira-reloj { display: block;
        .wrp { height: 100%; @include transition(all 0.6s ease-in-out); @include transition-delay(1s); }
      }
    }
    &.viewed { #elvira-end { opacity: 1; } }
  }

  // pagina de poemas
#poemas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(51, 51, 51, 0.94); color: white; overflow: auto; z-index: 10; 
    @include transform(translateY(100%)); opacity: 0; 
  .pageReady & { @include transition(all 0.8s); }
  &.act { @include transform(translateY(0)); opacity: 1; }
  .wrap { max-width: 1200px; height: 100%; padding-top: 2em; position: absolute; padding-top: 150px; overflow: hidden;
      top: 0; width: 100%; margin: 0 auto; @include box-sizing(border-box); display: block; left: 0; right: 0; }

  .player { float: left; height: 100%; width: 300px; }

  .col-player, .col-poemas, .col-help { float: left; width: 35%; height: 100%; @include box-sizing(border-box); }
  .col-poemas { width: 40%; position: relative; }
  .col-player { max-width: 500px; }

  // .col-poemas { overflow: auto; }
  @media (min-width: 800px) {
    .col-player { padding: 0 1em; }
    .col-poemas { padding-left: 2em }
    .col-help { width: 20%; text-align: right; padding: 0 1em;
      p { text-align: right; }
    }
  }

  .page-poema h2 { padding-left: 0.2em; position: relative;
    &:before { content: ''; display: block; width: 100%; height: 20px; position: absolute; bottom: -0.4em; left: 0; 
      background: url(./img/bar-white.png) bottom left no-repeat; }
  }

  // .bl-playlist { position: fixed; bottom: 0; width: 100%; left: 0; background: white; z-index: 1; overflow: hidden; height: 55px;
  //     ul { width: 20000px; padding: 0.4em 2em;  }
  //     li { display: inline-block; margin: 0 1em;
  //       a { text-decoration: none; color: #333; font-weight: 100; font-size: 1.1em; line-height: 3em; padding: 0 1em; @include transition(none);
  //         &.act { font-weight: 900; font-size: 1.3em; line-height: 2.4em; }
  //       }
  //     }
  //   #playlist-before, #playlist-after { height: 35px; width: 35px; display: block; background: url(./img/atnls-sprite.png) -19px -117px no-repeat; }
  //   #playlist-after { background-position: -58px -117px; }
  //   .mTSButton { height: 35px; width: 35px; padding: 0.6em; background: rgba(255,255,255,0.8); }
  //   .mTSButtonIconContainer { display: block; position: relative; width: 100%; height: 100%; overflow: hidden; padding: 0; left: 0; top: 0; }
  // }

  .bl-playlist { @include cutie; line-height: 1.6em; font-size: 1.2em;
    a { text-decoration: none; color: white; display: block; position: relative; margin-bottom: 1.2em;
      &:before { content: ''; display: block; width: 0; height: 20px; position: absolute; bottom: -0.8em; left: 0; @include transition(all 1s);
      background: url(./img/bar-white.png) bottom left no-repeat; }
      &:hover:before, &.act:before { width: 100%; }
    }
  }

  #helpRight { position: absolute; top: 50%; vertical-align: top; font-weight: 900; font-size: 1.2em; text-align: right; right: 0; line-height: 1.2em;
    img { width: 100px; height: 100px; @include transform(scaleX(-1) rotate(90deg)); position: relative; top: -30px; padding-top: 11px; float: right; }
  }
  #helpLeft { position: absolute; top: 50%; vertical-align: top; font-weight: 900; font-size: 1.2em; margin-top: -80px; line-height: 1.2em; padding-top: 30px;
    img { width: 100px; height: 100px; @include transform(scaleY(-1) rotate(90deg)); position: relative; top: -10px; padding-top: 10px; float: left; }
  }
  #helpBottom { position: absolute; bottom: -20px; font-weight: 900; right: 0; font-size: 1.4em; line-height: 1.1em;
    img { width: 100px; height: 100px; position: relative; bottom: 30px; padding-left: 11px; float: right; }
  }
}

.bl-player, .bl-controls, .bl-player2 { max-width: 280px; text-align: left; margin: 0 auto; text-align: center;
  a { display: inline-block; width: 44px; height: 44px; margin-right: 10px; background: #ccc;
      background: url(./img/atnls-sprite.png) -19px -186px no-repeat; @include transition(none);
      text-indent: -9999px; overflow: hidden; }
  .bl-miniplayer & a { margin: 0; }

  .plyr-next { background-position: -120px -186px; }
  .plyr-play { background-position: -66px -186px;
    &.paused { background-position: -409px -105px; }
  }
  .plyr-pause, .plyr-pause2 { background-position: -66px -186px; }
  .plyr-list, .plyr-pause2 { background-position: -177px -186px; }

  .bl-timer, .bl-timer2 { width: 100%; height: 10px; border: 1px solid white; position: relative; margin: 0.4em 0 2em 0; }
    .bl-timer-time { background: url(./img/atnls-sprite.png) 0 20px; height: 100%; width: 0; }

  .plyr-mute2 { background-position: -66px -186px; }
}

.verso { display: block; float: left; clear: left; padding: 0 0.4em 0 0; position: relative; cursor: pointer;
  &.monta { display: inline; float: left; clear: none;padding-left: 0; padding-right: 0; }}
  .verso:before { content: ''; position: absolute; left: 102%; width: 0; height: 40px;
      background: url(./img/atnls-sprite.png) -238px -190px no-repeat;
      bottom: -0.5em; @include transition(all 0.6s ease-in-out); }
    .verso:hover:before { width: 50px; }
.verso.act { font-weight: 900; }
.verso:hover { background: $green; }

.share-poema-twitter, .share-poema-facebook { display: inline-block; width: 60px; height: 60px; background: url(./img/atnls-sprite.png) -232px -123px no-repeat; }
.share-poema-twitter { background-position: -166px -123px; }

  // páginas 100%
#credits { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; color: white; font-size: 1.2em; line-height: 1.2em; z-index: 10;
    background: rgba(51, 51, 51, 0.96);
  a { text-decoration: none; color: white; &:hover { color: $green; }}
  .wk-valign { max-width: 600px; margin: 0 auto; padding: 0 1em; }
  
  @media (max-width: 800px) {
    .wk-col-50 {  width: 100%; }
  }

  .hideCredits { @include closeWhite; }
}

  // páginas 100%
#player { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; color: white; z-index: 10;
    background: rgba(51, 51, 51, 0.96);
  a { text-decoration: none; color: white; &:hover { color: $green; }}
  .closePlayer { @include closeWhite; }
}

  // páginas 100%
#pop { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; color: white; z-index: 10;
    background: rgba(255,255,255, 0.8);
  .wk-valign { max-width: 600px; margin: 0 auto; }
  .wk-valign-cont-inn { padding: 1em; background: rgba(51, 51, 51, 0.86); }
  h4 { text-transform: none; line-height: 1.4em; padding-bottom: 0.4em; }
  a { text-decoration: none; color: white; }
  .closePop { @include closeBlack; }
}

#redes { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(51, 51, 51, 0.96); color: white; z-index: 2;
  @include transform(translateY(100%)); opacity: 0; 
  .pageReady & { @include transition(all 0.8s); }
  &.act { @include transform(translateY(0)); opacity: 1; }

  a { text-decoration: none; color: white; &:hover { color: $green; }}
  .closeRedes { @include closeWhite; }
  .col-redes { position: absolute; width: 100%; height: 100%; padding-top: 150px; @include box-sizing(border-box); top: 0; left: 0; overflow: hidden;
    .col-redes-left { width: 300px; float: left; position: relative; z-index: 1; @include box-sizing(border-box); padding: 1em; text-align: right; }
    .col-redes-main { position: absolute; left: 0; padding-left: 300px; width: 100%; box-sizing: border-box; height: 100%; top: 0; padding-top: 150px; max-width: 1600px; overflow: auto; }
    .col-redes-col { @include box-sizing(border-box); padding: 0 1em; }
    .col-redes-3 .col-redes-col { width: 33%; float: left; }
    .col-redes-2 .col-redes-col { width: 50%; float: left; }
    .socialElm { @include box-sizing(border-box); padding: 1em; border: 1px solid #ccc; line-height: 1.2em; font-size: 1.4em;
      img { display: block; margin-bottom: 0.4em; }
      a { text-decoration: none; color: #efd24c; }
    }
  }
}

#menu { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; background: rgba(51, 51, 51, 0.96); color: white; 
    z-index: 20; font-size: 1.6em; line-height: 2.4em; @include cutie; line-height: 2.4em;
  a { text-decoration: none; color: white; font-weight: 100; text-transform: uppercase; position: relative;
      &:before { content: ''; display: block; width: 0; height: 20px; position: absolute; bottom: -0.8em; left: 0; @include transition(all 1s);
      background: url(./img/bar-white.png) bottom left no-repeat; }
      &:hover:before { width: 100%; }
  }
  .hideMenu { @include closeWhite; }
  
  .wk-valign { max-width: 600px; margin: 0 auto; }

  li {
    ul { display: block; line-height: 1.2em; @include oxy; margin-bottom: 0.4em; }
    li { display: inline-block; font-size: 0.8em; padding: 0 0.4em; }
  }
}


.page-poeta { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; //@include transition(all 0.6s ease-in-out); 
    background: url('./img/fondo-low-low.jpg'); color: #333;
  .wrap { height: 100%; }
  .poeta-col-l, .poeta-col-r { width: 34%; float: left; @include box-sizing(border-box);
    strong { @include cutie; }
    img { width: 100%; height: auto; }
  }
  .poeta-col-r { padding-top: 1em; }
  .poeta-col-l { padding-right: 1em; width: 66%; position: relative;
    a { display: block; }
    img { position: relative; z-index: 0; @include transform(scale(5)); @include transition(opacity 0.3s, all 0.6s ease-in-out); opacity: 0; }
    &:before { content: ''; display: block; position: absolute; bottom: 1.2em; right: 1.6em; background: url(./img/play-button-big.png); width: 80px; height: 80px; opacity: 0.5; @include transition(all 1s); }
    &:hover:before { opacity: 1; }

    .imgTXT { position: absolute; top: 0; left: 0; width: 100%; @include transition(all .1s); @include transition(all 1s); @include transform(scale(0.95)); }
  }
  &.act .poeta-col-l img { @include transform(scale(1)); opacity: 1; }
  
  .poeta-col-r, .head { position: relative; z-index: 1; }

  .poeta-col-r-bottom { position: absolute; width: 100%; bottom: 0; left: 0; }

  .wk-col-50 { padding: 0; max-width: 200px; margin-right: 1em; text-align: center; }

  h3 { @include cutie; line-height: 1.4em; margin-bottom: 0em; letter-spacing: 0.3em; padding-bottom: 0.3em; }
  p { padding-left: 2.4em; margin-bottom: 0.6em; line-height: 1.2em; }
}

#initVid, #initVid iframe { z-index: 100; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: black; }
#jumpInitVid { z-index: 1000; position: absolute; right: 1em; top: 1em; color: white; font-size: 2em; text-decoration: none; display: none; }
#initVid { display: none; background: url(./img/fondo-low-low.jpg);
  .homewrap { width: 100%; @include box-sizing(border-box); max-width: 740px; margin: 0 auto; overflow: hidden; position: relative;
    video { width: 102%; position: relative; left: -1px; height: auto; }
    #initVidMain { position: relative; }
    #initvidsub { width: 100%; height: auto; opacity: 0; position: relative;
      &:before { content: ''; display: inline-block; height: 20px; width: 100%; opacity: 0; @include transition(all 0.4s ease-in-out);
          background: url(./img/bar2.png?dadd) center center no-repeat; background-size: contain; position: absolute; top: -50%; }
      &.end:before { opacity: 1; }
    }
  }

  #swipeIcon { width: 60px; height: 60px; position: absolute; left: 0; padding-left: 60px; bottom: 45px; background: url(./img/atnls-sprite.png) -300px -11px no-repeat; 
    &.go { left: 100%!important; @include transition(all 3s); }
  }
}
.poster { z-index: 200; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.video-wrapp { position: absolute; height: 100%; width: 100%; top: 0;
  video { width: 100%; height: 100%; }
}
.bl-video-head { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  opacity: 0; @include transition(all 0.2s ease-in-out);
  &.act { opacity: 1; }
}


#presentacion { display: none; z-index: 1; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: black;
  .head { margin-bottom: 1em; }
  .vid { width: 100%; height: 0; padding-bottom: 50.7%; position: relative; max-width: 90%; margin: 0 auto; }
  img, iframe { position: absolute; width: 100%; height: 100%; }
}

#miniplayer { position: fixed; bottom: 0; left: 0; width: 100%; height: 50px; background: #333; color: white; font-size: 1.2em; line-height: 1.4em; z-index: 1; overflow: hidden;
  a { color: white; text-decoration: none; }
  .bl-player { position: absolute; left: 0; bottom: 0; padding: 0 0.4em; z-index: 1; text-align: center; display: none; }
  .bl-player-current { position: absolute; height: 50px; width: 100%; padding-right: 251px; padding-left: 188px; z-index: 0;
      bottom: 0; line-height: 1.4em; @include box-sizing(border-box);  }
  #openPoemas { position: absolute; right: 0; bottom: 0; line-height: 3em; text-decoration: none; background: #333; color: white; padding: 0 1em; z-index: 1;
    &:before { content: ''; display: inline-block; height: 20px; width: 50px;background: url(./img/atnls-sprite.png) -200px -32px no-repeat; }}
  .bl-nav { position: absolute; z-index: 2; right: 0; height: 100%;bottom: 0; line-height: 2.4em; font-size: 1.4em; padding: 0 0.4em 0 0.8em; border-left: 5px solid white; box-shadow: 0 0 30px #333;}
  .player-nav { position: absolute; z-index: 2; left: 0; height: 100%; bottom: 0; line-height: 2.4em; font-size: 1.4em; padding: 0 0.6em 0 0.6em; border-right: 5px solid white; box-shadow: 0 0 30px #333; }

  @media (max-width: 800px) { display: none; }
}

#legal { position: fixed; bottom: 55px; right: 0.4em; font-size: 0.9em; a { color: #999; text-decoration:none; }}

#loader { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: white; z-index: 999;
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
  .loader {
    color: #333333;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }
  .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
  }
  .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
  }
  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}



@media (max-width: 800px) {
  #webdoc { overflow: auto; }
  .rtve, .lab { display: none; }
  .homewrap .lab { display: block; }
  .titleHome { line-height: 1em!important; margin-top: 10px;
    strong { display: block; }
  }
  .page-poeta { .poeta-col-l, .poeta-col-r { width: 100%; padding: 0 1em; }}
  #poemas {
    .wrap { height: auto; position: initial; padding: 0; }
    .col-player, .col-poemas, .col-help { width: 100%; max-width: inherit; padding: 0 1em; height: auto; .wk-valign { display: block; height: auto; } }
  }
  #poemas, #redes, #presentacion { .titleThis { line-height: 1.4em }}
  .headbar { display: none; }
}

