<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^.*data/(.*) data/$1 [L]
  RewriteRule ^.*dataOK/(.*) dataOK/$1 [L]
  RewriteRule ^.*js/(.*) %{PATH}js/$1 [L]
  RewriteRule ^.*src/(.*) src/$1 [L]
  RewriteRule ^.*img/(.*) img/$1 [L]
  RewriteRule ^.*bin/(.*) bin/$1 [L]
  RewriteRule ^.*font/(.*) font/$1 [L]
  RewriteRule ^.*libs/(.*) libs/$1 [L]
  RewriteRule ^.*audios/(.*) audios/$1 [L]
  RewriteRule ^.*css/(.*) css/$1 [L]
  RewriteRule ^.*fonts/(.*) fonts/$1 [L]
  RewriteRule ^(.*).php $1.php [QSA,L]
  RewriteRule ^(.*) index.php [QSA,L]
</IfModule>