{% if ajax is not defined %}<h2>Bajo una lluvia fría de polígono</h2>{% endif %}

<div class="poema-body" data-times="[0.7050,4803.7100,7279.2550,9708.8450,13736.5950,15795.2900,19508.0000,23175.7050,27833.4250,32000]">
	<p>
		<span class="verso">Bajo una lluvia fría de polígono,</span>
		<span class="verso">con un cielo drogado de tormenta</span>
		<span class="verso">y nubes de extrarradio.</span>
	</p>

	<p>
		<span class="verso">Porque este amor de llaves prestadas nos envuelve</span>
		<span class="verso">en una intimidad provisional,</span>
		<span class="verso">paredes que no hacen compañía</span>
		<span class="verso">y objetos como búhos en la sombra.</span>
	</p>

	<p>
		<span class="verso">Son<br>las sábanas más tristes de la tierra.</span>
		<span class="verso">Mira<br>cómo vive la gente.</span>
	</p>
</div>