<p>
	<span class="verso">Bajo una lluvia fría de polígono,</span>
	<span class="verso">con un cielo drogado de tormenta</span>
	<span class="verso">y nubes de extrarradio.</span>
</p>

<p>
	<span class="verso">Porque este amor de llaves prestadas nos envuelve</span>
	<span class="verso">en una intimidad provisional,</span>
	<span class="verso">paredes que no hacen compañía</span>
	<span class="verso">y objetos como búhos en la sombra.</span>
</p>

<p>
	<span class="verso">Son</span>
	<span class="verso">las sábanas más tristes de la tierra.</span>
	<span class="verso">Mira</span>
	<span class="verso">cómo vive la gente.</span>
</p>