<h2>Cabo Sounion</h2>

<div class="poema-body" data-times="[0,
3624.643,
8151.558,
14553.357,
20309.804,
22745.339,
29035.01,
33217.156,
38164.138,
41793.644,
45713.079,
48057.616,
53681.986000000004,
61422.756,
68766.541,
72582.488,
77072.80500000001,
81022.629,
999999]">
	<p>
		<span class="verso">Al pasar de los años,</span>
		<span class="verso">¿qué sentiré leyendo estos poemas<br>de amor que ahora te escribo?</span>
		<span class="verso">Me lo pregunto porque está desnuda<br>la historia de mi vida frente a mí,</span>
		<span class="verso">en este amanecer de intimidad,<br>cuando la luz es inmediata y roja</span>
		<span class="verso">y yo soy el que soy</span>
		<span class="verso">y las palabras<br>conservan el calor del cuerpo que las dice.</span>
	</p>
	<p>
		<span class="verso">Serán memoria y piel de mi presente</span>
		<span class="verso">o sólo humillación, herida intacta.</span>
		<span class="verso">Pero al correr del tiempo,</span>
		<span class="verso">cuando dolor y dicha se agoten con nosotros,</span>
		<span class="verso">quisiera que estos versos derrotados</span>
		<span class="verso">tuviesen la emoción<br>y la tranquilidad de las ruinas clásicas.</span>
		<span class="verso">Que la palabra siempre, sumergida en la hierba,<br>despunte con el cuerpo medio roto,</span>
		<span class="verso">que el amor, como un friso desgastado,<br>conserve dignidad contra el azul del cielo</span>
		<span class="verso">y que en el mármol frío de una pasión antigua</span>
		<span class="verso">los viajeros románticos afirmen<br>el homenaje de su nombre,</span>
		<span class="verso">al comprender la suerte tan frágil de vivir,</span>
		<span class="verso">los ojos que acertaron a cruzarse<br>en la infinita soledad del tiempo.</span>
	</p>
</div>