{% if ajax is not defined %}<h2>Canci칩n asesinato</h2>{% endif %}

<div class="poema-body" data-times="[0,
4924.747,
9439.417000000001,
13796.542000000001,
17269.17,
21402.088,
25376.4,
31357.005,
35234.038,
40313.876000000004,
45714.926,
48227.358,
999999]">
	<p>
		<span class="verso">Los 치rboles miran <br>su puerta cerrada.</span>
	</p>
	
	<p>
		<span class="verso">Un motor que cruza, <br>una luz se apaga.</span>
		<span class="verso">Dos ojos vigilan<br>inyectando miedo<br>desde la ventana.</span>
	</p>

	<p>
		<span class="verso">Pasan los silencios<br>de la madrugada.</span>
		<span class="verso">Un hombre, dos faros,<br>alguna muchacha.</span>
	</p>	

	<p>
		<span class="verso">Pasan las cadenas<br>del tiempo que pasa,</span>
		<span class="verso">porque mide un siglo<br>el dolor con nombre<br>que nadie acompa침a</span>
		<span class="verso">y sus ojos miran<br>inyectando miedo<br>desde la ventana.</span>
	</p>	

	<p>
		<span class="verso">Se detiene un coche,<br>alguien se baja.</span>
		<span class="verso">Como dos linternas<br>se cruzan los ojos<br>desde la ventana.</span>
	</p>

	<p>
		<span class="verso">Nadie sabe nada.</span>
		<span class="verso">Los 치rboles mudos<br>le vuelven la espalda.</span>
	</p>
</div>

