<h2>Canci칩n asesinato</h2>

<div class="poema-body" data-times="[1934.7050,4803.7100,7279.2550,9708.8450,13736.5950,15795.2900,19508.0000,23175.7050,24413.2500,27833.4250,28711.0400,32000]">
	<p>
		<span class="verso">Los 치rboles miran <br>
		su puerta cerrada.</span>
	</p>
	
	<p>
		<span class="verso">Un motor que cruza, <br>
			una luz que se apaga.</span>
		<span class="verso">Dos ojos vigilan<br>inyectando miedo<br>desde la ventana.</span>
	</p>

	<p>
		<span class="verso">Pasan los silencios</span>
		<span class="verso">de la madrugada.</span>
		<span class="verso">Un hombre, dos faros,</span>
		<span class="verso">alguna muchacha.</span>
	</p>	

	<p>
		<span class="verso">Pasan las cadenas</span>
		<span class="verso">del tiempo que pasa,</span>
		<span class="verso">porque mide un siglo</span>
		<span class="verso">el dolor con nombre</span>
		<span class="verso">que nadie acompa침a</span>
		<span class="verso">y sus ojos miran</span>
		<span class="verso">inyectando miedo</span>
		<span class="verso">desde la ventana.</span>
	</p>	

	<p>
		<span class="verso">Se detiene un coche,</span>
		<span class="verso">alguien se baja.</span>
		<span class="verso">Como dos linternas</span>
		<span class="verso">se cruzan los ojos</span>
		<span class="verso">desde la ventana.</span>
	</p>

	<p>
		<span class="verso">Nadie sabe nada.</span>
		<span class="verso">Los 치rboles mudos</span>
		<span class="verso">le vuelven la espalda.</span>
	</p>
</div>