<h2>Completamente viernes</h2>

<div class="poema-body" data-times="[0,4263.723,7732.081,13415.846,15790.756,21035.072,25643.512,28953.068,35397.168,39632.447,43484.442,48580.929,52504.061,55149.291,57021.275,58777.842,63802.103,67037.47099999999,70248.381,74273.19,76806.51699999999,80026.439,999999]">
	<p>
		<span class="verso">Por detergentes y lavavajillas,</span>
		<span class="verso">por libros ordenados y escobas en el suelo,</span>
		<span class="verso">por los cristales limpios, por la mesa<br>sin papeles, libretas ni bolígrafos,</span>
		<span class="verso">por los sillones sin periódicos,</span>
		<span class="verso">quien se acerque a mi casa<br>puede encontrar un día<br>completamente viernes.</span>
	</p>

	<p>
		<span class="verso">Como yo me lo encuentro<br>cuando salgo a la calle</span>
		<span class="verso">y está la catedral<br>tomada por el mundo de los vivos</span>
		<span class="verso">y en el supermercado<br>junio se hace botella de ginebra,<br>embutidos y postre,</span>
		<span class="verso">abanico de luz en el quiosco</br>de la floristería,</span>
		<span class="verso">ciudad que se desnuda completamente viernes.</span>
	</p>

	<p>
		<span class="verso">Así mi cuerpo<br>que se hace memoria de tu cuerpo</span>
		<span class="verso">y te presiente<br>en la inquietud de todo lo que toca,</span>
		<span class="verso">en el mando a distancia de la música,</span>
		<span class="verso">en el papel de la revista,</span>
		<span class="verso">en el hielo deshecho</span>
		<span class="verso">igual que se deshace una mañana</br>completamente viernes.</span>
	</p>

	<p>
		<span class="verso">Cuando se abre la puerta de la calle,</span>
		<span class="verso">la nevera adivina lo que supo mi cuerpo</span>
		<span class="verso">y sugiere otros títulos para este poema:</span>
		<span class="verso">completamente tú,</span>
		<span class="verso">mañana de regreso, el buen amor,</span>
		<span class="verso">la buena compañía.</span>
	</p>
</div>