<h2>Canción asesinato</h2>

<div class="poema-body">
	<p>
		<span class="verso">Por detergentes y lavavajillas,</span>
		<span class="verso">por libros ordenados y escobas en el suelo,</span>
		<span class="verso">por los cristales limpios, por la mesa</span>
		<span class="verso">sin papeles, libretas ni bolígrafos,</span>
		<span class="verso">por los sillones sin periódicos,</span>
		<span class="verso">quien se acerque a mi casa</span>
		<span class="verso">puede encontrar un día</span>
		<span class="verso">completamente viernes.</span>
	</p>

	<p>
		<span class="verso">Como yo me lo encuentro</span>
		<span class="verso">cuando salgo a la calle</span>
		<span class="verso">y está la catedral</span>
	</p>

	<p>
		<span class="verso">tomada por el mundo de los vivos</span>
		<span class="verso">y en el supermercado</span>
		<span class="verso">junio se hace botella de ginebra,</span>
		<span class="verso">embutidos y postre,</span>
		<span class="verso">abanico de luz en el quiosco</span>
		<span class="verso">de la floristería,</span>
		<span class="verso">ciudad que se desnuda completamente viernes.</span>
	</p>

	<p>
		<span class="verso">Así mi cuerpo</span>
		<span class="verso">que se hace memoria de tu cuerpo</span>
		<span class="verso">y te presiente	</span>
		<span class="verso">en la inquietud de todo lo que toca,</span>
		<span class="verso">en el mando a distancia de la música,</span>
		<span class="verso">en el papel de la revista,</span>
		<span class="verso">en el hielo deshecho</span>
		<span class="verso">igual que se deshace una mañana</span>
		<span class="verso">completamente viernes.</span>
	</p>

	<p>
		<span class="verso">Cuando se abre la puerta de la calle,</span>
		<span class="verso">la nevera adivina lo que supo mi cuerpo</span>
		<span class="verso">y sugiere otros títulos para este poema:</span>
		<span class="verso">completamente tú,</span>
		<span class="verso">mañana de regreso, el buen amor,</span>
		<span class="verso">la buena compañía.</span>
	</p>
</div>