{% if ajax is not defined %}<h2>Cuarentena</h2>{% endif %}

<div class="poema-body" data-times="[0,
6779.423000000001,
12328.397,
20020.393,
25692.101000000002,
32018.431999999997,
36644.386,
39883.153,
41826.056000000004,
45938.22,
52273.629,
60209.899,
65918.62999999999,
74311.802,
79072.879,
84501.463,
89832.369,
93696.557,
99037.55099999999,
101696.522,
104057.891,
110925.75600000001,
114037.417,
122010.034,
125112.01,
128952.43300000002,
132296.73500000002,
135606.778,
138560.837,
141885.10199999998,
144627.841,
154029.37600000002,
158890.28999999998,
162237.766,
168955.361,
172498.747,
177729.103,
180732.032,
183364.46000000002,
189615.27000000002,
198682.459,
202929.36800000002,
205206.091,
206905.273,
210214.144,
215750.818,
218815.81499999997,
221942.014,
224785.108,
234478.646,
239365.204,
245321.291,
247695.603,
252200.275,
255273.558,
999999]">
	<p>
		<span class="verso">Con qué ferocidad y a qué hora importuna</span>
		<span class="verso">salen tus veinte años de la fotografía<br>para exigirme cuentas.</span>
		<span class="verso">En los ojos heridos por la luz<br>sostienes la mirada de mis sombras,</span>
		<span class="verso">en el descaro de tus profecías<br>desdeñas la lealtad de mis recuerdos,</span>
		<span class="verso">en la piel transparente<br>anegas el cansancio de mi piel</span>
		<span class="verso">y defines mis años por traiciones.</span>
	</p>

	<p>
		<span class="verso">No escandalices más,</span>
		<span class="verso">hablemos si tú quieres,</span>
		<span class="verso">elige tú las armas y el paisaje<br>de la conversación,</span>
		<span class="verso">y espera a que se vayan <br>los invitados a la cena fría<br>de mis cuarenta años.</span>
		<span class="verso">Por evaporaciones,<br>como las aguas sucias de los charcos<br>se acercan a las nubes,</span>
		<span class="verso">caminaré contigo<br>hasta la plaza de tu juventud.</span>
		<span class="verso">Allí están los magníficos<br>árboles de las ciencias y las letras<br>con sus palabras en el mes de mayo,</span>
		<span class="verso">y el orden de los números<br>a la orilla del tiempo,</span>
		<span class="verso">más cerca de las sumas que de las divisiones.</span>
	</p>

	<p>
		<span class="verso">Imagino tu voz, supongo el aire</span>
		<span class="verso">-porque a veces regresa hasta mis labios<br>en noches de espesura-</span>
		<span class="verso">con el que afirmarás<br>que toda libertad es una roca,</span>
		<span class="verso">que no faltan el viento y las razones,</span>
		<span class="verso">sino la voluntad en el timón,</span>
		<span class="verso">para gritar después que mi conciencia<br>es ya ropa tendida,</span>
		<span class="verso">palabras puestas a secar.</span>
	</p>

	<p>
		<span class="verso">Tendrás razón. No digo<br>ni la mitad de lo que siento.</span>
		<span class="verso">Pero recuerda que mi soledad,</span>
		<span class="verso">la que arde en mi lámpara de desaparecido,</span>
		<span class="verso">es el silencio de las causas públicas.</span>
		<span class="verso">Y puedes comprenderme:</span>
		<span class="verso">mis mujeres dormidas,</span>
		<span class="verso">el cajón de los barcos indefensos,</span>
		<span class="verso">un teléfono antiguo...,</span>
		<span class="verso">todas las tachaduras se parecen<br>a la inquietud que sufres<br>ante la vida en blanco.</span>
	</p>

	<p>
		<span class="verso">Ya que fuerzas mis sombras con tu luz</span>
		<span class="verso">comprende mi silencio en tus exclamaciones.</span>
		<span class="verso">Porque sabes que sé<br>el lado frágil de la impertinencia,</span>
		<span class="verso">lo que hay de imitación en tu seguridad,</span>
		<span class="verso">la certeza que llega de los otros<br>para empujarte</span>
		<span class="verso">por el afán de ser el elegido,</span>
		<span class="verso">por el deseo de gustar,</span>
		<span class="verso">hasta vivir de oídas en muchas ocasiones.</span>
	</p>

	<p>
		<span class="verso">Aceptaré las quejas, si tú me reconoces<br>la legitimidad de la impostura.</span>
	</p>

	<p>
		<span class="verso">Ahora que necesito<br>meditar lo que creo</span>
		<span class="verso">en busca de un destino soportable,</span>
		<span class="verso">me acerco a ti,</span>
		<span class="verso">porque sabías meditar tus dudas.</span>
		<span class="verso">Cuando tengas la edad que se avecina,</span>
		<span class="verso">admitirás el tiempos de los encajadores,</span>
		<span class="verso">la piel gastada y resistente,</span>
		<span class="verso">el tono bajo de la voz</span>
		<span class="verso">y el corazón cansado de elegir<br>sombras de pie o luz arrodillada.</span>
	</p>

	<p>
		<span class="verso">Después de lo que he visto y lo que tú verás,</span>
		<span class="verso">no es un mal resultado, te lo juro.</span>
		<span class="verso">Baja conmigo al día,</span>
		<span class="verso">ven hasta los paisajes verdaderos<br>de la conversación,</span>
		<span class="verso">y me agradecerás</span>
		<span class="verso">la difícil tarea de tu supervivencia.</span>
	</p>
</div>