<h2>Cuarentena</h2>

<div class="poema-body">
	<p>
		<span class="verso">Con qué ferocidad y a qué hora importuna</span>
		<span class="verso">salen tus veinte años de la fotografía</span>
		<span class="verso">para exigirme cuentas.</span>
		<span class="verso">En los ojos heridos por la luz</span>
		<span class="verso">sostienes la mirada de mis sobras,</span>
		<span class="verso">en el descaro de tus profecías</span>
		<span class="verso">desdeñas la lealtad de mis recuerdos,</span>
		<span class="verso">en la piel transparente</span>
		<span class="verso">anegas el cansancio de mi piel</span>
		<span class="verso">y defines mis años por traiciones.</span>
	</p>

	<p>
		<span class="verso">No escandalices más,</span>
		<span class="verso">hablemos si tú quieres,</span>
		<span class="verso">elige tú las armas y el paisaje</span>
		<span class="verso">de la conversación,</span>
		<span class="verso">y espera a que se vayan </span>
		<span class="verso">los invitados a la cena fría</span>
		<span class="verso">de mis cuarenta años.</span>
		<span class="verso">Por evaporaciones,</span>
		<span class="verso">como las aguas sucias de los charcos</span>
		<span class="verso">se acercan a las nubes,</span>
		<span class="verso">caminaré contigo</span>
		<span class="verso">hasta la plaza de tu juventud.</span>
		<span class="verso">Allí están los magníficos</span>
		<span class="verso">árboles de las ciencias y las letras</span>
		<span class="verso">con sus palabras en el mes de mayo,</span>
		<span class="verso">y el orden de los números</span>
		<span class="verso">a la orilla del tiempo,</span>
		<span class="verso">más cerca de las sumas que de las divisiones.</span>
	</p>

	<p>
		<span class="verso">Imagino tu voz, supongo el aire</span>
		<span class="verso">-porque a veces regresa hasta mis labios</span>
		<span class="verso">en noches de espesura-</span>
		<span class="verso">con el que afirmarás</span>
		<span class="verso">que toda libertad es una roca,</span>
		<span class="verso">que no faltan el viento y las razones,</span>
		<span class="verso">sino la voluntad en el timón,</span>
		<span class="verso">para gritar después que mi conciencia</span>
		<span class="verso">es ya ropa tendida,</span>
		<span class="verso">palabras puestas a secar.</span>
	</p>

	<p>
		<span class="verso">Tendrás razón. No digo</span>
		<span class="verso">ni la mitad de lo que siento.</span>
		<span class="verso">Pero recuerda que mi soledad,</span>
		<span class="verso">la que arde en mi lámpara de desaparecido,</span>
		<span class="verso">es el silencio de las causas públicas.</span>
		<span class="verso">Y puedes comprenderme:</span>
		<span class="verso">mis mujeres dormidas,</span>
		<span class="verso">el cajón de los barcos indefensos,</span>
		<span class="verso">un teléfono antiguo...,</span>
		<span class="verso">todas las tachaduras se parecen</span>
		<span class="verso">a la inquietud que sufres</span>
		<span class="verso">ante la vida en blanco.</span>
	</p>

	<p>
		<span class="verso">Ya que fuerzas mis sombras con tu luz</span>
		<span class="verso">comprende mi silencio en tus exclamaciones.</span>
		<span class="verso">Porque sabes que sé</span>
		<span class="verso">el lado frágil de la impertinencia,</span>
		<span class="verso">lo que hay de imitación en tu seguridad,</span>
		<span class="verso">la certeza que llega de los otros</span>
		<span class="verso">para empujarte</span>
		<span class="verso">por el afán de ser el elegido,</span>
		<span class="verso">por el deseo de gustar,</span>
		<span class="verso">hasta vivir de oídas en muchas ocasiones.</span>
	</p>

	<p>
		<span class="verso">Aceptaré las quejas, si tú me reconoces</span>
		<span class="verso">la legitimidad de la impostura.</span>
	</p>

	<p>
		<span class="verso">Ahora que necesito</span>
		<span class="verso">meditar lo que creo</span>
		<span class="verso">en busca de un destino soportable,</span>
		<span class="verso">me acerco a ti,</span>
		<span class="verso">porque sabías meditar tus dudas.</span>
		<span class="verso">Cuando tengas la edad que se avecina,</span>
		<span class="verso">admitirás el tiempos de los encajadores,</span>
		<span class="verso">la piel gastada y resistente,</span>
		<span class="verso">el tono bajo de la voz</span>
		<span class="verso">y el corazón cansado de elegir</span>
		<span class="verso">sombras de pie o luz arrodillada.</span>
	</p>

	<p>
		<span class="verso">Después de lo que he visto y lo que tú verás,</span>
		<span class="verso">no es un mal resultado, te lo juro.</span>
		<span class="verso">Baja conmigo al día,</span>
		<span class="verso">ven hasta los paisajes verdaderos</span>
		<span class="verso">en los que discutimos,</span>
		<span class="verso">y me agradecerás</span>
		<span class="verso">la difícil tarea de tu supervivencia.</span>
	</p>
</div>