<h2>El amor</h2>

<div class="poema-body" data-times="[0,
3876.785,
6398.42,
8255.050000000001,
13473.695,
17286.968,
21103.152000000002,
25718.172,
30861.021,
36250.867,
41419.235,
44913.929000000004,
47904.105,
49209.195999999996,
52037.373999999996,
56652.195,
59973.216,
62497.055,
69806.003,
74419.167,
79884.086,
83896.44900000001,
88805.966,
999999999]">

	<p>
		<span class="verso">Las palabras son barcos</span>
		<span class="verso">y se pierden así, de boca en boca,</span>
		<span class="verso">como de niebla en niebla.</span>
		<span class="verso">Llevan su mercancía por las conversaciones<br>sin encontrar un puerto,</span>
		<span class="verso">la noche que les pese igual que un ancla.</span>
	</p>

	<p>
		<span class="verso">Deben acostumbrarse a envejecer</span>
		<span class="verso">y vivir con paciencia de madera<br>usada por las olas,</span>
		<span class="verso">irse descomponiendo, dañarse lentamente,</span>
		<span class="verso">hasta que a la bodega rutinaria<br>llegue el mar y las hunda.</span>
	</p>

	<p>
		<span class="verso">Porque la vida entra en las palabras<br>como el mar en un barco,</span>
		<span class="verso">cubre de tiempo el nombre de las cosas</span>
		<span class="verso">y lleva a la raíz de un adjetivo</span>
		<span class="verso">el cielo de una fecha,</span>
		<span class="verso">el balcón de una casa,</span>
		<span class="verso">la luz de una ciudad reflejada en un río.</span>
	</p>

	<p>
		<span class="verso">Por eso, niebla a niebla,</span>
		<span class="verso">cuando el amor invade las palabras,</span>
		<span class="verso">golpea sus paredes, marca en ellas<br>los signos de una historia personal</span>
		<span class="verso">y deja en el pasado de los vocabularios<br>sensaciones de frío y de calor,</span>
		<span class="verso">noches que son la noche,<br>mares que son el mar,</span>
		<span class="verso">solitarios paseos con extensión de frase</span>
		<span class="verso">y trenes detenidos y canciones.</span>
	</p>

	<p>
		<span class="verso">Si el amor, como todo, es cuestión de palabras,<br>acercarme a tu cuerpo fue crear un idioma.</span>
	</p>
</div>