<h2>El insomnio de Jovellanos</h2>

<div class="poema-body" data-times="[0,
6023.012,
9506.914999999999,
13789.752999999999,
16173.488,
18227.752,
24138.376,
29636.758,
36331.564999999995,
39456.001000000004,
41524.051,
44858.209,
49386.338,
53682.083,
57827.384000000005,
62010.394,
65959.557,
69565.391,
76420.962,
81305.406,
85316.526,
89363.97499999999,
94446.26,
97597.091,
101202.04699999999,
106318.731,
108575.759,
112180.515,
115046.36200000001,
117016.768,
122223.031,
130811.26000000001,
137493.261,
139571.592,
142524.093,
146659.532,
148825.671,
152837.128,
157846.159,
162607.58000000002,
166533.611,
168526.226,
170015.218,
172636.887,
175245.367,
178605.18300000002,
184656.91100000002,
187832.655,
190171.532,
192534.212,
196643.1,
999999]">

	<p>
		<span class="verso">Porque sé que los sueños se corrompen,<br>he dejado los sueños.</span>
		<span class="verso">El mar sigue moviéndose en la orilla.</span>
	</p>

	<p>
		<span class="verso">Pasan las estaciones como huellas sin rumbo,</span>
		<span class="verso">la luz inútil del invierno,</span>
		<span class="verso">los veranos inútiles.</span>
		<span class="verso">Pasa también mi sombra, se sucede<br>por el castillo solitario,</span>
		<span class="verso">como la huella negra que los años y el viento<br>han dejado en los muros.</span>
		<span class="verso">Estaciones, recuerdos de mi vida,<br>viene el mar y nos borra.</span>
	</p>

	<p>
		<span class="verso">El mar sigue moviéndose en la noche,</span>
		<span class="verso">cuando es sólo murmullo repetido,</span>
		<span class="verso">una intuición lejana que se encierra en los ojos</span>
		<span class="verso">y esconde en el silencio de mi celda<br>todas las cosas juntas,</span>
		<span class="verso">la cobardía, el sueño, la nostalgia,</span>
		<span class="verso">lo que vuelve a la orilla después de los naufragios.</span>
	</p>

	<p>
		<span class="verso">Al filo de la luz, cuando amanece,</span>
		<span class="verso">busco en el mar<br>y el mar es una espada</span>
		<span class="verso">y de mis ojos salen<br>los barcos que han nacido de mis noches.</span>
		<span class="verso">Unos van hacia España,<br>reino de las hogueras y las supersticiones,</span>
		<span class="verso">pasado sin futuro<br>que duele todavía en manos del presente.</span>
	</p>

	<p>
		<span class="verso">El invierno es el tiempo de la meditación.</span>
	</p>

	<p>
		<span class="verso">Otros barcos navegan a las costas de Francia,</span>
		<span class="verso">allí donde los sueños se corrompen<br>como una flor pisada,</span>
		<span class="verso">donde la libertad<br>fue la rosa de todos los patíbulos</span>
		<span class="verso">y la fruta más bella se hizo amarga en la boca.</span>
	</p>

	<p>
		<span class="verso">El verano es el tiempo de la meditación.</span>
	</p>

	<p>
		<span class="verso">Y el mar sigue moviéndose. </span>
		<span class="verso monta">Yo busco <br> un tiempo mío entre dos olas,<br></span>
		<span class="verso">ese mundo flexible de la orilla,</span>
		<span class="verso">que retiene los pasos un momento,</span>
		<span class="verso">nada más que un momento,<br>entre la realidad y sus fronteras.</span>
	</p>

	<p>
		<span class="verso">Lo sé,<br>meditaciones tristes de cautivo...<br>no sabría negarlo.</span>
		<span class="verso">Prisionero y enfermo, derrotado,<br>lloro la ausencia de mi patria,</span>
		<span class="verso">de mis pocos amigos,</span>
		<span class="verso">de todo lo que amaba el corazón.</span>
	</p>

	<p>
		<span class="verso">En el mismo horizonte<br>del que surgen los días y la luz</span>
		<span class="verso">que acaricia los pinos y calienta mi celda,</span>
		<span class="verso">surgen también la noche y los naufragios.</span>
		<span class="verso">Mis días y mis noches son el tiempo<br>de la meditación.</span>
	</p>

	<p>
		<span class="verso">Porque sé que los sueños se corrompen<br>he dejado los sueños,</span>
		<span class="verso">pero cierro los ojos y el mar sigue moviéndose</span>
		<span class="verso">y con él mi deseo</span>
		<span class="verso">y puedo imaginarme</span>
		<span class="verso">mi libertad, las costas del Cantábrico,</span>
		<span class="verso">los pasos que se alargan en la playa</span>
		<span class="verso">o la conversación de dos amigos.</span>
	</p>

	<p>
		<span class="verso">Allí,<br>rozadas por el agua,<br>escribiré mis huellas en la arena.</span>
		<span class="verso">Van a durar muy poco, ya lo sé,</span>
		<span class="verso">nada más que un momento.</span>
	</p>

	<p>
		<span class="verso">El mar nos cubrirá,</span>
		<span class="verso">pero han de ser las huellas de un hombre más feliz</span>
		<span class="verso">en un país más libre.</span>
	</p>
</div>