{% if ajax is not defined %}<h2>Fotografías veladas de la lluvia</h2>{% endif %}

<div class="poema-body" data-times="[0,
6048.743,
10537.642,
17109.002,
22414.606,
27223.503999999997,
30722.357,
33208.859,
35988.736000000004,
38856.332,
42312.35,
44736.8,
50520.527,
53289.395,
58358.885,
61633.245,
67808.126,
74403.648,
79227.66799999999,
83561.054,
88431.885,
93034.64099999999,
96541.66100000001,
98915.846,
101439.561,
104498.54000000001,
108213.73,
111019.29800000001,
113062.08200000001,
116765.637,
121636.978,
124394.721,
127900.738,
130879.344,
134976.691,
139985.47,
145188.878,
147602.205,
149520.17799999999,
152251.88199999998,
154308.93399999998,
156866.381,
162847.11200000002,
168482.341,
170243.345,
172063.732,
175190.25,
180037.603,
183495.47100000002,
185143.327,
189179.502,
191531.16499999998,
193093.632,
195886.69100000002,
201054.402,
204659.994,
206813.286,
211539.369,
213224.887,
215672.299,
218785.66799999998,
222390.79,
224938.961,
227362.285,
233465.834,
235743.312,
999999]">
	<p>
		<span class="verso">Cuando los merenderos de septiembre<br>dejaban escapar sus últimas canciones</span>
		<span class="verso">por las colinas del Genil,<br>yo miraba la luz,</span>
		<span class="verso">como una flor envejecida,<br>caerse lentamente. Lo recuerdo.</span>
	</p>

	<p>
		<span class="verso">Y recuerdo en mi piel la enfermedad<br>de las horas inciertas. Por los alrededores</span>
		<span class="verso">la mirada del niño primogénito<br>parecía saberlo.</span>
	</p>

	<p>
		<span class="verso">Bombillas<br>contra un cielo sin fondo,</span>
		<span class="verso">pintura de las mesas</span>
		<span class="verso">más pobre y sin verano,</span>
		<span class="verso">botellas olvidadas sin un solo mensaje</span>
		<span class="verso">y la radio sonando<br>con voz de plata</span>
		<span class="verso">como los álamos del río.</span>
		<span class="verso">Antes que los humanos<br>los objetos aprenden a vivir en otoño.</span>
	</p>

	<p>
		<span class="verso">Hasta un golpe de lluvia.</span>
	</p>

	<p>
		<span class="verso">Entonces sí<br>hay mujeres y hombres que corren al invierno</span>
		<span class="verso">con gritos sorprendidos todavía<br>en la palabra agosto.</span>
		<span class="verso">La lluvia de repente<br>que le devuelve a España su existencia<br>de periódico antiguo</span>
		<span class="verso">y pone hacia el final de las películas<br>un beso triste, un dolor censurado.</span>
	</p>

	<p>
		<span class="verso">Del verano se sale igual que de un recuerdo.</span>
		<span class="verso">Nunca lo detenemos<br>en sus noches crueles de calor,</span>
		<span class="verso">ni se queda en nosotros<br>la insistencia quemada de las calles,</span>
		<span class="verso">los fantasmas eróticos<br>que jamás desembocan en un cuerpo,</span>
		<span class="verso">noches de alcohol sin nadie,</span>
		<span class="verso">la cuchilla del frío repentino,</span>
		<span class="verso">la humillación de los amaneceres.</span>
	</p>

	<p>
		<span class="verso">Pero del mismo modo</span>
		<span class="verso">al recuerdo se vuelve igual que a los veranos,</span>
		<span class="verso">con ganas de tocar el mar,</span>
		<span class="verso">como un tiempo más nuestro,</span>
		<span class="verso">la leyenda arruinada del nosotros más puro,</span>
		<span class="verso">una memoria de la felicidad<br>que duele, nos desarma</span>
		<span class="verso">y rueda en las colinas de la tarde</span>
		<span class="verso">y nos busca después<br>cada septiembre</span>
		<span class="verso">como los álamos del río</span>
		<span class="verso">en esa flor envejecida<br>de nuestra propia casa.</span>
	</p>

	<p>
		<span class="verso">Los pecados del tiempo son pecados mortales.</span>
	</p>

	<p>
		<span class="verso">Y al fin todo se apaga, se deshacen en lluvia</span>
		<span class="verso">los tiranos, las mañanas de iglesia,</span>
		<span class="verso">los titulares del periódico,</span>
		<span class="verso">la voz que dice no o que confirma un precio,</span>
		<span class="verso">y también lo más noble,</span>
		<span class="verso">esa costumbre del olvido<br>que va imponiendo sus fronteras,</span>
		<span class="verso">porque el amor no sabe detenerse<br>y su fatalidad es la del agua.</span>
		<span class="verso">Cosas como un reloj<br>en el brazo del niño que miraba la tarde,</span>
		<span class="verso">como una marca de electrodomésticos,</span>
		<span class="verso">una casa marina,</span>
		<span class="verso">atardeceres rojos en la universidad,</span>
		<span class="verso">una canción, un jardín provinciano.</span>
	</p>

	<p>
		<span class="verso">O tal vez aquel coche</span>
		<span class="verso">que regresaba de los merenderos,</span>
		<span class="verso">estampa negra, temblor cerrado a combustible,</span>
		<span class="verso">persiguiendo la lluvia con sus faros</span>
		<span class="verso">entre los quitamiedos,</span>
		<span class="verso">en los recodos de la carretera.</span>
		<span class="verso">Oigo ahora su estrépito, el de un motor antiguo,</span>
		<span class="verso">y lo veo que cruza<br>el bulevar de los sueños perdidos</span>
		<span class="verso">hasta que se detiene delante de una casa.</span>
		<span class="verso">Paseo de la Bomba, 18.</span>
		<span class="verso">Alguien abre la puerta.</span>
		<span class="verso">Los niños corren y desaparecen.</span>
	</p>

	<p>
		<span class="verso">Cuando la muerte quiera</span>
		<span class="verso">una verdad quitar de entre mis manos</span>
		<span class="verso">las hallará vacías. Al cerrarme los ojos</span>
		<span class="verso">se mojará los dedos con la lluvia.</span>
	</p>

	<p>
		<span class="verso">Nos duele envejecer, pero resulta<br>más difícil aún</span>
		<span class="verso">comprender que se ama solamente</span>
		<span class="verso">aquello que envejece.</span>
	</p>
</div>