{% if ajax is not defined %}<h2>La inmortalidad</h2>{% endif %}

<div class="poema-body" data-times="[0,
4013.1119999999996,
7396.267,
11801.047,
17252.138,
23811.253,
28425.006,
34049.849,
37065.128000000004,
42145.058,
45677.292,
50144.283,
56739.094000000005,
60147.701,
62879.337999999996,
65524.818,
68750.374,
72047.401,
79270.82900000001,
86432.881,
91784.257,
93631.101,
99033.333,
101751.879,
105873.174,
109625.74399999999,
111251.327,
117156.971,
120430.841,
124258.764,
127886.785,
133830.638,
137607.133,
999999]">
	<p>
		<span class="verso">Nunca he tenido dioses</span>
		<span class="verso">y tampoco sentí la despiadada<br>voluntad de los héroes.</span>
		<span class="verso">Durante mucho tiempo estuvo libre<br>la silla de mi juez</span>
		<span class="verso">y no esperé juicio<br>en el que rendir cuentas de mis días.</span>
	</p>

	<p>
		<span class="verso">Decidido a vivir, busqué la sombra<br>capaz de recogerme en los veranos</span>
		<span class="verso">y la hoguera dispuesta<br>a llevarse el invierno por delante.</span>
		<span class="verso">Pasé noches de guardia y de silencio,<br>no tuve prisa,</span>
		<span class="verso">dejé cruzar la rueda de los años.</span>
		<span class="verso">Estaba convencido<br>de que existir no tiene trascendencia,</span>
		<span class="verso">porque la luz es siempre fugitiva<br>sobre la oscuridad,</span>
		<span class="verso">un resplandor en medio del vacío.</span>
	</p>

	<p>
		<span class="verso">Y de pronto en el bosque se encendieron los árboles<br>de las miradas insistentes,</span>
		<span class="verso">el mar tuvo labios de arena</span>
		<span class="verso">igual que las palabras dichas en un rincón,</span>
		<span class="verso">el viento abrió sus manos</span>
		<span class="verso">y los hoteles sus habitaciones.</span>
		<span class="verso">Parecía la tierra más desnuda,</span>
		<span class="verso">porque la noche fue,<br>como el vacío,<br>un resplandor oscuro en medio de la luz.</span>
	</p>

	<p>
		<span class="verso">Entonces comprendí que la inmortalidad<br>puede cobrarse por adelantado.</span>
		<span class="verso">Una inmortalidad que no reside<br>en plazas con estatua,</span>
		<span class="verso">en nubes religiosas</span>
		<span class="verso">o en la plastificada vanidad literaria,<br>llena de halagos homicidas</span>
		<span class="verso">y murmullos de cóctel.</span>
		<span class="verso">Es otra mi razón. Que no me lea</span>
		<span class="verso">quien no haya visto nunca conmoverse la tierra</span>
		<span class="verso">en medio de un abrazo.</span>
	</p>

	<p>
		<span class="verso">La copa de cristal<br>que pusiste al revés sobre la mesa,</span>
		<span class="verso">guarda un tiempo de oro detenido.</span>
		<span class="verso">Me basta con la vida para justificarme.</span>
		<span class="verso">Y cuando me convoquen a declarar mis actos,</span>
		<span class="verso">aunque sólo me escuche una silla vacía,<br>será firme mi voz.</span>
	</p>

	<p>
		<span class="verso">No por lo que la muerte me prometa,</span>
		<span class="verso">sino por todo aquello que no podrá quitarme.</span>
	</p>
</div>