<h2>Life vest under your seat</h2>

<div class="poema-body" data-times="[0,
3887.828,
6402.084000000001,
9097.206,
11627.954000000002,
14273.454,
17055.382,
20217.448,
22729.948,
24918.329,
27441.576999999997,
29630.891,
33248.845,
36397.814,
40618.496999999996,
45208.19,
50955.765999999996,
55065.89000000001,
57848.028999999995,
61057.102999999996,
63433.325000000004,
65882.334,
70607.098,
74532.708,
99999]">
	<p>
		<span class="verso">Señores pasajeros buenas tardes</span>
		<span class="verso">y Nueva York al fondo todavía,</span>
		<span class="verso">delicadas las torres de Manhattan</span>
		<span class="verso">con la luz sumergida en una muchacha triste,</span>
		<span class="verso">buenas tardes señores pasajeros,</span>
		<span class="verso">mantendremos en vuelo doce mil pies de altura,</span>
		<span class="verso">altos como su cuerpo en el pasillo</span>
		<span class="verso">de la Universidad, una pregunta,</span>
		<span class="verso">podría repetirme el título del libro,</span>
		<span class="verso">cumpliendo normas internacionales,</span>
		<span class="verso">las cuatro ventanillas de emergencia,</span>
		<span class="verso">pero habrá que cenar, tal vez alguna copa,</span>
		<span class="verso">casi vivir sin vínculo y sin límites,</span>
		<span class="verso">modos de ver la noche y estar en los cristales<br>del alba, regresando,</span>
		<span class="verso">y muchas otras noches regresando<br>bajo edificios de temblor acuático,</span>
		<span class="verso">a una velocidad de novecientos<br>kilómetros, te dije<br>que nunca resistí las despedidas,</span>
		<span class="verso">al aeropuerto no,<br>prefiero tu recuerdo por mi casa,</span>
		<span class="verso">apoyado en el piano del Bar Andalucía,</span>
		<span class="verso">bajo el cielo violeta<br>de los amaneceres de Manhattan,</span>
		<span class="verso">igual que dos desnudos en penumbra</span>
		<span class="verso">con Nueva Cork al fondo, todavía</br>al aeropuerto no,</span>
		<span class="verso">rogamos hagan uso</br>del cinturón, no fumen</br>hasta que despeguemos,</span>
		<span class="verso">cuiden que estén derechos los respaldos,</span>
		<span class="verso">me tienes que llamar, de sus asientos.</span>
	</p>
</div>