<div id="ajax">
	<div id="poemas" style="display: none;" >
		
		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('poetas') }}" class="url-lib titleHome"><strong>Memoria de futuro:</strong> García Montero y la nueva poesía</a>
		</div>

		<div class="wrap">
			
			<div class="col-player">

				<div class="wk-valign"><div class="wk-valign-cont">
				
					<div class="bl-playlist" style="display: none;">
						{% include twigFolder ~ '/blocks/poemas_list.html.twig'%}
					</div>

					<div class="bl-player">
						<a href="#" class="plyr-prev" title="poema anterior"></a>
						<a href="#" class="plyr-play" title="inicia la reproducción"></a>
						<a href="#" class="plyr-next" title="Siguiente poema"></a>
						<a href="#" class="plyr-mute" title="Silencia la reproducción"></a>
						<a href="#" class="plyr-list" title="Selecciona poema"></a>
					</div>

				</div></div>

			</div>

			<div class="col-poemas">
				{% for poema, name in rawData['poemas'] %}
					<div class="page-poema" style="display: none;" data-poema="{{ poema }}"><div class="scrool-wrap">
						{% include twigFolder ~ '/pages/poema.html.twig' with {'poemaId': poema} %}
					</div></div>
				{% endfor %}
			</div>

			<div class="col-help"><div class="wk-valign"><div class="wk-valign-cont">
				<p>Comparte el poema completo<br>con tus amigos<br>
					<a href="#" class="share-poema-twitter" title="compartir en twitter"></a>
					<a href="#" class="share-poema-facebook" title="compartir en Facebook"></a>
				</p>
				<p>O <span>selecciona un verso</span><br>y compártelo</p>
			</div></div></div>
		</div>

	</div>

	<div id="poetas">
		{% for poeta, name in rawData['poetas'] %}
			<div class="page-poeta">{% include twigFolder ~ '/pages/poeta.html.twig' with {'poetaId': poeta, 'list': false} %}</div>
		{% endfor %}
	</div>
	
	<div id="redes">

		<div class="head clearfix">
			<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
			<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
			<a class="hamb showMenu" href="#menu"></a>
			<a href="{{ path('poetas') }}" class="url-lib titleHome"><strong>Memoria de futuro:</strong> García Montero y la nueva poesía</a>
		</div>

		{% include twigFolder ~ '/pages/redes.html.twig' %}
	</div>
</div>