<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="es-es"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="es-es"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="es-es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Language" content="es-es">

  <meta name="distribution" content="global" />
  <meta name="robots" content="all" />
  <meta name="author" content="davidruizlopez.es" />
  <meta name="organization" content="davidruizlopez.es" />
  <meta name="locality" content="Madrid, España" />
  <meta name="lang" content="es" />

  {# viewport info #}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {# <meta property="fb:app_id" content='417471918268686'> #}

  {% block seoHead %}{% endblock %}

  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script>/*! modernizr 3.3.1 (Custom Build) | MIT *
 * https://modernizr.com/download/?-audio-history-video-setclasses !*/
!function(e,n,a){function o(e,n){return typeof e===n}function s(){var e,n,a,s,c,i,l;for(var p in r)if(r.hasOwnProperty(p)){if(e=[],n=r[p],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(a=0;a<n.options.aliases.length;a++)e.push(n.options.aliases[a].toLowerCase());for(s=o(n.fn,"function")?n.fn():n.fn,c=0;c<e.length;c++)i=e[c],l=i.split("."),1===l.length?Modernizr[l[0]]=s:(!Modernizr[l[0]]||Modernizr[l[0]]instanceof Boolean||(Modernizr[l[0]]=new Boolean(Modernizr[l[0]])),Modernizr[l[0]][l[1]]=s),t.push((s?"":"no-")+l.join("-"))}}function c(e){var n=p.className,a=Modernizr._config.classPrefix||"";if(d&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+a+"no-js(\\s|$)");n=n.replace(o,"$1"+a+"js$2")}Modernizr._config.enableClasses&&(n+=" "+a+e.join(" "+a),d?p.className.baseVal=n:p.className=n)}function i(){return"function"!=typeof n.createElement?n.createElement(arguments[0]):d?n.createElementNS.call(n,"http://www.w3.org/2000/svg",arguments[0]):n.createElement.apply(n,arguments)}var t=[],r=[],l={_version:"3.3.1",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var a=this;setTimeout(function(){n(a[e])},0)},addTest:function(e,n,a){r.push({name:e,fn:n,options:a})},addAsyncTest:function(e){r.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=l,Modernizr=new Modernizr;var p=n.documentElement,d="svg"===p.nodeName.toLowerCase();Modernizr.addTest("audio",function(){var e=i("audio"),n=!1;try{(n=!!e.canPlayType)&&(n=new Boolean(n),n.ogg=e.canPlayType('audio/ogg; codecs="vorbis"').replace(/^no$/,""),n.mp3=e.canPlayType('audio/mpeg; codecs="mp3"').replace(/^no$/,""),n.opus=e.canPlayType('audio/ogg; codecs="opus"')||e.canPlayType('audio/webm; codecs="opus"').replace(/^no$/,""),n.wav=e.canPlayType('audio/wav; codecs="1"').replace(/^no$/,""),n.m4a=(e.canPlayType("audio/x-m4a;")||e.canPlayType("audio/aac;")).replace(/^no$/,""))}catch(a){}return n}),Modernizr.addTest("video",function(){var e=i("video"),n=!1;try{(n=!!e.canPlayType)&&(n=new Boolean(n),n.ogg=e.canPlayType('video/ogg; codecs="theora"').replace(/^no$/,""),n.h264=e.canPlayType('video/mp4; codecs="avc1.42E01E"').replace(/^no$/,""),n.webm=e.canPlayType('video/webm; codecs="vp8, vorbis"').replace(/^no$/,""),n.vp9=e.canPlayType('video/webm; codecs="vp9"').replace(/^no$/,""),n.hls=e.canPlayType('application/x-mpegURL; codecs="avc1.42E01E"').replace(/^no$/,""))}catch(a){}return n}),Modernizr.addTest("history",function(){var n=navigator.userAgent;return-1===n.indexOf("Android 2.")&&-1===n.indexOf("Android 4.0")||-1===n.indexOf("Mobile Safari")||-1!==n.indexOf("Chrome")||-1!==n.indexOf("Windows Phone")?e.history&&"pushState"in e.history:!1}),s(),c(t),delete l.addTest,delete l.addAsyncTest;for(var u=0;u<Modernizr._q.length;u++)Modernizr._q[u]();e.Modernizr=Modernizr}(window,document);</script>
    {# Grunt compile files #}
  <!-- build:css bin/styles.min.css -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="js/jquery.mThumbnailScroller.css">
  <!-- endbuild -->


  <!--script type="text/javascript" src="http://estaticos.lab.eldiario.es/libs/modernizr-v2.7.1.js"></script-->

  {% block analytics %}{% endblock %}

</head>
  
<body class="page--{{ seoData['name'] }}">

  <script>
document.write('<div id="loader"><div class="wk-valign"><div class="wk-valign-cont"><div class="loader"></div></div></div></div>');
  </script>

  <div id="webdoc"><div class="wrap">{% block content %}{% endblock %}</div></div>

  <script>
var rawData = {{ rawData | json_encode() | raw }};
var projRoot = {{ path('home') | json_encode() | raw  }};
  </script>

  <!-- build:js bin/app.js -->
    <script src="js/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="js/sticky.min.js"></script>
    <script type="text/javascript" src="js/inview.min.js"></script>

    <script type="text/javascript" src="js/hammer.min.js"></script>

    <script type="text/javascript" src="js/popcorn-complete.min.js"></script>
    <script type="text/javascript" src="js/lbt-url.js"></script>
    <script type="text/javascript" src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="js/jquery.mThumbnailScroller.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
  <!-- endbuild -->

  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

</body>
</html>
