{% extends twigFolder ~ '/index.html.twig' %}


{% block seoHead %}

  {% include twigFolder ~ '/blocks/seo.html.twig' %}

{% endblock %}


{% block analytics %}

	{% include twigFolder ~ '/blocks/analytics.html.twig' %}

{% endblock %}


{% block seo %}

  {# {% include twigFolder ~ '/blocks/head.html.twig' with {'seo': true} %} #}

{% endblock %}


{% block content %}

  {# {% include twigFolder ~ '/blocks/head.html.twig'%} #}

  <div id="content">
    {% include twigFolder ~ '/pages/' ~ seoData['name'] ~ '.html.twig'%}
  </div>

  {% include twigFolder ~ '/blocks/menu.html.twig'%}

  {% include twigFolder ~ '/pages/initVid.html.twig'%}
  
  {% include twigFolder ~ '/blocks/player.html.twig'%}

  {% include twigFolder ~ '/blocks/pop.html.twig'%}

  {% include twigFolder ~ '/blocks/creditos.html.twig'%}

{% endblock %}
