<p style="font-size: 1.4em;">
	<strong>Nombre</strong>: Carlos Pardo. (Madrid, 1975)<br>
	<strong>La poesía es…</strong> la huida del cliché.<br>
	<strong>Un poema…</strong> “Derrota” de Rafael Cadenas.<br>
	<strong>Un libro de poesía…</strong> “La insurrección solitaria” de Carlos Martínez Rivas.<br>
	<strong>Define tu poesía…</strong> no soy capaz.<br>
	<strong>Aunque tú no lo sepas…</strong> la poesía no ha existido siempre.<br>
</p>