<h3 style="font-size: 1.6em;"><a href="#" class="video-lnk" data-video="http://video.lab.rtve.es/resources/memoria-futuro/video/CarlosPardo_004_DEF_OK">Carlos Pardo</a>, <span style="letter-spacing: initial;font-size: 0.8em;color: #666; font-family: arial, sans-serif; text-transform: none;">(Madrid, 1975)</span></h3>
<h3>La poesía es:</h3>
<p>La huida del cliché</p>
<h3>Un poema:</h3>
<p>“Derrota” de Rafael Cadenas.</p>
<h3>Un libro de poesía:</h3>
<p><em>“La insurrección solitaria”</em> de Carlos Martínez Rivas.</p>
<h3>Define tu poesía:</h3>
<p>No soy capaz.</p>
<h3>Aunque tú no lo sepas...</h3>
<p>...la poesía no ha existido siempre.</p>
<h3>Tu poema favorito de Luis:</h3>
<p>
	<a href="#" class="video-lnk thumb" data-video="http://video.lab.rtve.es/resources/memoria-futuro/video/CarlosPardo_Poema_ET_DEF_OK"
		data-postvideo="http://video.lab.rtve.es/resources/memoria-futuro/video/ExplicacionPoema05_Pardo_CancionSol_DEF_OK"
		title='Carlos Pardo lee "Canción Sol" de Luis García Montero'>
			<img src="http://lab.rtve.es/webdocs/memoria-futuro/img/thumb3.png">
	</a>
</p>
