<h3>Nombre:</h3>
<p>Carlos Pardo. (Madrid, 1975).</p>
<h3>La poesía es:</h3>
<p>la huida del cliché</p>
<h3>Un poema:</h3>
<p>“Derrota” de Rafael Cadenas.</p>
<h3>Un libro de poesía:</h3>
<p>“La insurrección solitaria” de Carlos Martínez Rivas.</p>
<h3>Define tu poesía:</h3>
<p>no soy capaz.</p>
<h3>Aunque tú no lo sepas:</h3>
<p>la poesía no ha existido siempre.</p>