<h3>Nombre:</h3>
<p><a href="http://www.elvirasastre.net/" title="visita la web de Elvira Sastre">Elvira Sastre</a> (Segovia, 1992)</p>
<h3>La poesía es:</h3>
<p>Un desahogo. Mi manera de deshacer nudos dentro.</p>
<h3>Un poema:</h3>
<p>“Conversación en la isla” de Benjamín Prado.</p>
<h3>Un libro de poesía:</h3>
<p>“Un día, tres Otoños” de Diego Álvarez Miguel.</p>
<h3>Define tu poesía:</h3>
<p>Trato de transmitir verdad buscando en los pequeños detalles.</p>
<h3>Aunque tú no lo sepas:</h3>
<p>Como la luz de un sueño, que no raya en el mundo pero existe…</p>
