<p style="font-size: 1.4em;">
	<strong>Nombre</strong>: Elvira Sastre (Segovia, 1992)<br>
	<strong>La poesía es…</strong> Un desahogo. Mi manera de deshacer nudos dentro.<br>
	<strong>Un poema…</strong> “Conversación en la isla” de Benjamín Prado.<br>
	<strong>Un libro de poesía…</strong>  “Un día, tres Otoños” de Diego Álvarez Miguel.<br>
	<strong>Define tu poesía…</strong>  trato de transmitir verdad buscando en los pequeños detalles.<br>
	<strong>Aunque tú no lo sepas…</strong> como la luz de un sueño, que no raya en el mundo pero existe…<br>
	<a href="http://www.elvirasastre.net/">http://www.elvirasastre.net/</a>
</p>