<h3>Nombre:</h3>
<p>Elvira Sastre (Segovia, 1992)<a target="_blank" title="Visita la web de Elvira" href="http://www.elvirasastre.net/" class="ico-web"></a><a title="Sigue a Elvira en Facebook" target="_blank" href="https://www.facebook.com/elvira.sastre" class="ico-fb"></a><a title="Sigue a Elvira en Twitter" target="_blank" href="https://twitter.com/elvirasastre" class="ico-tw"></a><a title="Sigue a Elvira en Instagram" href="https://www.instagram.com/elvirasastre/" target="_blank" class="ico-ig"></a></p>
<h3>La poesía es:</h3>
<p>Un desahogo. Mi manera de deshacer nudos dentro.</p>
<h3>Un poema:</h3>
<p>“Conversación en la isla” de Benjamín Prado.</p>
<h3>Un libro de poesía:</h3>
<p><em>“Un día, tres Otoños”</em> de Diego Álvarez Miguel.</p>
<h3>Define tu poesía:</h3>
<p>Trato de transmitir verdad buscando en los pequeños detalles.</p>
<h3>Aunque tú no lo sepas...</h3>
<p>...como la luz de un sueño, que no raya en el mundo pero existe…</p>
<h3>Tu poema favorito de Luis:</h3>
<p>
	<a href="#" class="video-lnk thumb" data-video="http://video.lab.rtve.es/resources/memoria-futuro/video/Elvira_Poema_ET_DEF_OK"
		data-postvideo="http://video.lab.rtve.es/resources/memoria-futuro/video/ExplicacionPoema01_Elvira_CancionVibora_DEF_OK"
		title='Elvira Sastre lee "Canción Víbora" de Luis García Montero'>
			<img src="http://lab.rtve.es/webdocs/memoria-futuro/img/thumb4.png">
	</a>
</p>