<h3>Nombre:</h3>
<p><a target="_blank" href="http://escandar-algeet.blogspot.com.es/" title="Visita la página del poeta">Escandar Algeet</a></p>
<h3>La poesía es:</h3>
<p>un juego de niños/as.</p>
<h3>Un poema:</h3>
<p>“Capitalismo” de Ana Pérez Cañamares.</p>
<h3>Un libro de poesía:</h3>
<p>“Veinteañeros” de Silva Orion.</p>
<h3>Define tu poesía:</h3>
<p>Un intento de camino desde la soledad al abrazo.</p>
<h3>Aunque tú no lo sepas...</h3>
<p>... Merecíamos tanto.</p>
<h3>Tu poema favorito de Luis:</h3>
<p><a href="#" class="video-lnk" data-video="http://video.lab.rtve.es/resources/memoria-futuro/video/ExplicacionPoema04_Escandar_CartasDeAmor" data-postvideo="http://video.lab.rtve.es/resources/TE_NGVA/mp4/2013/jfk/intro-Kennedy" title="Luis explica el poema seleccionado por Marwan" data-poema="{{ path('poema', {poema: 'cabo-sounion' }) }}">ver la explicación</a></p>
