<h3>Nombre:</h3>
<p>Escandar Algeet <a title="Visita la web de Escandar" target="_blank" href="http://escandar-algeet.blogspot.com.es/" class="ico-web"></a><a title="Sigue a Escandar en Facebook" target="_blank" href="https://www.facebook.com/escandaralgeet/" class="ico-fb"></a><a title="Sigue a Escandar en twitter" target="_blank" href="https://twitter.com/escandaralgeet?lang=es" class="ico-tw"></a></p>
<h3>La poesía es:</h3>
<p>Un juego de niños/as.</p>
<h3>Un poema:</h3>
<p>“Capitalismo” de Ana Pérez Cañamares.</p>
<h3>Un libro de poesía:</h3>
<p><em>“Veinteañeros”</em> de Silva Orion.</p>
<h3>Define tu poesía:</h3>
<p>Un intento de camino desde la soledad al abrazo.</p>
<h3>Aunque tú no lo sepas...</h3>
<p>... Merecíamos tanto.</p>
<h3>Tu poema favorito de Luis:</h3>
<p><a href="#" class="video-lnk thumb" data-video="http://video.lab.rtve.es/resources/TE_NGVA/mp4/2013/jfk/intro-Kennedy" data-postvideo="http://video.lab.rtve.es/resources/memoria-futuro/video/ExplicacionPoema04_Escandar_CartasDeAmor" title='Escandar Algeet lee "Unas cartas de amor" de Luis García Montero'><img src="./img/thumb5.png"></a></p>
