<p style="font-size: 1.4em;">
	<strong>Nombre</strong>: Escandar Algeet<br>
	<strong>La poesía es…</strong> un juego de niños/as.<br>
	<strong>Un poema…</strong> “Capitalismo” de Ana Pérez Cañamares.<br>
	<strong>Un libro de poesía…</strong> “Veinteañeros” de Silva Orion.<br>
	<strong>Define tu poesía…</strong> un intento de camino desde la soledad al abrazo.<br>
	<strong>Aunque tú no lo sepas…</strong> merecíamos tanto.<br>
	<a href="http://escandar-algeet.blogspot.com.es/">http://escandar-algeet.blogspot.com.es/</a>
</p>