<h3>Nombre:</h3>
<p>Guille Galván</p>
<h3>La poesía es:</h3>
<p>Un refugio con las ventanas abiertas.<br>Un plano emocional, <br>un escenario en el que hay que dejar hueco al actor principal: el lector.</p>
<h3>Un poema:</h3>
<p>“Chelsea Hotel” de Leonard Cohen.</p>
<h3>Un libro de poesía:</h3>
<p>“Paisaje con grano de arena” de Wislawa Szymborska.</p>
<h3>Define tu poesía:</h3>
<p>Un trabajo de búsqueda de algo que nunca termino de encontrar.</p>
<h3>Aunque tú no lo sepas...</h3>
<p>...Todos formamos parte.</p>
<h3>Tu poema favorito de Luis:</h3>
<p><a href="#" class="video-lnk" data-video="http://video.lab.rtve.es/resources/memoria-futuro/video/ExplicacionPoema03_GuilleGalvan_Resumen" title="Poema de Luis seleccionado por Elvira Sastre" data-poema="{{ path('poema', {poema: 'cabo-sounion' }) }}">ver la explicación</a></p>