<p style="font-size: 1.4em;">
	<strong>Nombre</strong>: Guille Galván<br>
	<strong>La poesía es…</strong> un refugio con las ventanas abiertas. Un plano emocional, un escenario en el que hay que dejar hueco al actor principal: el lector. <br>
	<strong>Un poema…</strong> “Chelsea Hotel” de Leonard Cohen.<br>
	<strong>Un libro de poesía…</strong> “Paisaje con grano de arena” de Wislawa Szymborska.<br>
	<strong>Define tu poesía…</strong> un trabajo de búsqueda de algo que nunca termino de encontrar. <br>
	<strong>Aunque tú no lo sepas…</strong> todos formamos parte.<br>
</p>