<p style="font-size: 1.4em;">
	<strong>Nombre</strong>: Marwan (Madrid, 1979)<br>
	<strong>La poesía es…</strong> una forma de hablar de las cosas que no tienen forma. Una disciplina perfecta para descubrir los secretos de la aventura de estar vivos. Una forma de encontrar lo extraordinario que hay en todo lo ordinario.<br>
	<strong>Un poema…</strong> “Ya no es tarde” de Benjamín Prado.<br>
	{# <strong>Un libro de poesía…</strong><br> #}
	<strong>Define tu poesía…</strong>  Cercana. Hablo sobre cosas y emociones cotidianas tratando de ver, en ocasiones, el reverso de las cosas, lo oculto, lo que no se ve. A veces pienso que hago más prosa poética que poesía. <br>
	<strong>Aunque tú no lo sepas…</strong> haga lo que haga siempre pienso en ti.<br>
	<a href="http://www.marwanweb.com/">http://www.marwanweb.com/</a>
</p>