<h3>Nombre:</h3>
<p>Marwan (Madrid, 1979)<a target="_blank" title="Visita la web de Marwan" href="http://www.marwanweb.com/" class="ico-web"></a><a title="Sigue a Marwan en Facebook" target="_blank" href="https://www.facebook.com/MARWANoficial/" class="ico-fb"></a><a target="_blank" title="Sigue a Marwan en twitter" href="https://twitter.com/Marwanmusica" class="ico-tw"></a><a title="Sigue a Marwan en Instagram" href="https://www.instagram.com/marwanoficial/" target="_blank" class="ico-ig"></a></p>
<h3>La poesía es:</h3>
<p>Una forma de hablar de las cosas que no tienen forma.<br>Una disciplina perfecta para descubrir los secretos de la aventura de estar vivos.<br>Una forma de encontrar lo extraordinario que hay en todo lo ordinario.</p>
<h3>Un poema:</h3>
<p>“Ya no es tarde” de Benjamín Prado.</p>
{# <h3>Un libro de poesía:</h3>
<p>“Paisaje con grano de arena” de Wislawa Szymborska.</p> #}
<h3>Define tu poesía:</h3>
<p>Cercana.<br>Hablo sobre cosas y emociones cotidianas tratando de ver, en ocasiones, el reverso de las cosas, lo oculto, lo que no se ve.<br>A veces pienso que hago más prosa poética que poesía.</p>
<h3>Aunque tú no lo sepas...</h3>
<p>... haga lo que haga siempre pienso en ti.</p>
<h3>Tu poema favorito de Luis:</h3>
<p><a href="#" class="video-lnk thumb" data-video="http://video.lab.rtve.es/resources/memoria-futuro/video/Marwan_Poema_ET_LOW" data-postvideo="http://video.lab.rtve.es/resources/memoria-futuro/video/ExplicacionPoema02_Marwan_Madre_LOW" title='Marwan lee "Madre" de Luis García Montero'><img src="./img/thumb2.png"></a></p>