<div id="head">
	<a id="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
	<a id="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
	<img src="./img/logo.png" alt="" id="logo">
	<img src="./img/bar.png" id="headbar">
</div>