<div class="head">
	<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
	<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
	<a class="hamb showMenu" href="#menu"></a>
	<a href="{{ path('home') }}" class="url-lib" title="Ir al inicio"><img src="./img/logo.png" alt="" class="logo" alt="Memoria de futuro"></a>
	<img src="./img/bar.png" class="headbar">
</div>