<div id="player">
	
	<div class="head clearfix">
		<a class="hamb showMenu" href="#menu"></a>
		<a href="{{ path('home') }}" class="url-lib titleHome ft-cutie"><strong>Memoria de futuro</strong></a>
		{# <span class="titleThis ft-cutie"><strong>La voz de Luis García Montero</strong></span> #}
		<a class="closePlayer" href="#"></a>
	</div>

	<div class="wk-valign">
		<div class="wk-valign-cont"><div class="vrap"></div></div>
	</div>
</div>
