<nav id="credits">
  <a href="#" class="hideCredits" title="oculta la ventana"></a>

  <div class="wk-valign">
  	<ul class="wk-valign-cont">

  		<h2>Créditos</h2>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus turpis eget erat tincidunt venenatis. Vestibulum convallis eleifend elit eu gravida. Nulla at dapibus ante. Maecenas nec egestas quam, a porttitor lacus. Donec ligula urna, scelerisque id nibh vitae, vehicula suscipit augue. Suspendisse luctus tempus urna at eleifend. Sed imperdiet facilisis ipsum, ac lobortis eros lacinia nec.</p>

		<p>Quisque ac sodales lorem. Etiam metus erat, aliquam id luctus in, rhoncus eget justo. Donec a massa vitae enim sodales elementum. Integer justo diam, egestas vitae pretium sit amet, facilisis ac nulla. Praesent molestie nulla nec odio sagittis, at tempor risus semper. Donec lobortis vitae quam placerat ornare. In eget venenatis lectus. Ut euismod maximus enim, quis fermentum augue gravida sit amet. Pellentesque luctus velit in nisl consequat, quis tempor risus rutrum. Cras ac libero quam. Aliquam erat volutpat.</p>
  	</ul>
  </div>
</nav>