<nav id="credits">
  <a href="#" class="hideCredits" title="oculta la ventana"></a>

  <div class="wk-valign">
  	<ul class="wk-valign-cont">
  	  <li><a class="url-lib" href="{{ path('home') }}"><img style="display: block; width: 100%; margin: 0 auto; max-width: 600px; padding: 0 1em; box-sizing: border-box;" src="http://video.lab.rtve.es/resources/memoria-futuro/image/logo-menu.png" alt="Memorias de futuro"></a></li>
  	  <li><p>Una producción de <a href="http://www.poramoralarteproducciones.com/">POR AMOR AL ARTE PRODUCCIONES S.L.</a><br>para <a href="http://www.rtve.es/">RTVE.ES</a></p></li>
  	  <li>Con la participación de:</li>
	  <li>
	  	<ul>
			{% for poeta, name in rawData['poetas'] %}
				<li>{{ name }}</li>
			{% endfor %}
	  	</ul>
	  </li>
	  <li><p>Idea original, dirección y guión:</h2> Charlie Arnaiz y Alberto Ortega</li>
	  <li><p>Realizador:</h2> Alberto Ortega.</li>
	  <li><p>Director de producción:</h2> Charlie Arnaiz.</li>
	  <li><p>Producción ejecutiva RTVE:</h2> Miriam Hernández y Alberto Fernández.</li>
	  <li><p>Edición:</h2> Emilio González.</li>
	  <li><p>Cámaras:</h2> Javier Ordoñez, Bienve Valdivia, Tomás Esteras y Alberto Ortega.</li>
	  <li><p>Dirección de fotografía:</h2> Bienve Valdivia.</li>
	  <li><p>Sonido:</h2> Crislama y Codaestudio.</li>
	  <li><p>Sonidistas:</h2> Rares D. Varga, Ignacio Román Muñoz, Luis J. de las Heras, Fernando Pocostales.</li>
	  <li><p>Grafismo:</h2> Alberto Ortega.</li>
	  <li><p>Etalonaje:</h2> Dada Project.</li>
	  <li><p>Fotografías:</h2> Casilda Saldaña y José Oliva.</li>
	  <li><p>Programación Web:</h2> <a href="http://davidruizlopez.es/" title="Desarrollo de proyectos web">David Ruiz</a>.</li>
	  <li><p>Diseño web:</h2> Belén Picazo.</li>
	  <li><p>Ilustraciones:</h2> Nuño Benito.</li>
	  <li><p>Maquillaje:</h2> Paula Serrano.</li>
	  <li><p>Música:</h2> Audionetwork, Vetusta Morla.</li>
	  <li><p>Agradecimientos:</p></li>
	  <li>
	  	<ul><li>Warner Music Spain</li><li>David Bonilla</li><li>Marina Tordera</li><li>Cooltural Plans</li><li>Bar Café La Manuela</li><li>Vetusta Morla</li><li>Kike Keller</li><li>Ediciones Visor</li><li>Valparaiso</li><li>Bar Aleatorio</li><li>Libreria (Guille Galván)</li><li>Impossible Tellers</li><li>Casilda Saldaña</li><li>José Oliva</li></ul>
	  </li>
  	</ul>
  </div>
</nav>