<div id="initVid">
	<a href="#" id="jumpInitVid">Omitir</a>
	<div class="vid" data-autoplay="true" data-loop="false" data-controls="true" data-video="tTq63Or1pMA"><img src="./img/bg-luis.png" class="poster" alt=""></div>
</div>