<div id="initVid">
	<a href="#" id="jumpInitVid">Omitir</a>

	<div class="vid" data-autoplay="true" data-loop="false" data-controls="true" data-video="tTq63Or1pMA"></div>
	<div class="wk-valign">
		<div class="wk-valign-cont">
			<div class="homewrap" style="cursor: pointer;">
				<div id="initVidMain">
					<video src="http://video.lab.rtve.es/resources/memoria-futuro/video/titulo.mp4?d"></video>
					<div id="swipeIcon">
						<p id="arrastra" class="ft-cutie" style="padding-top: 0.4em; color: rgb(102, 102, 102); position: absolute; width: 280px; text-align: left; display: block; left: 60px; font-size: 1.6em; margin-bottom: 0;">Desliza para comenzar</p>
					</div>
					<div id="initvidsub">
						<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/sublogo.png" alt="">
					</div>
				</div>
				<div id="initvidLogos" style="width: 100%; margin: 0px auto; max-width: 500px; margin: 0 auto; opacity: 0;">
					<div class="wk-col-l wk-col-50" style="padding: 2.4em; padding-top: 0; padding-bottom: 0.4em;">
						<p style=" margin: 0; color: #ccc; padding-top: 1em;">Producido por:</p>
						<a style="top: -12px; position: relative; display: inline-block; text-align: center; float: none;transform: scale(0.8);" class="lab" target="_blank" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
					</div>
					<div class="wk-col-l wk-col-50" style="padding: 2.4em; padding-top: 0; padding-bottom: 0.4em;">
						<p style=" margin: 0; color: #ccc; padding-top: 1em;">A partir del documental:</p>
						<a class="atnls" target="_blank" href="http://www.aunquetunolosepas.es/" title="Conoce el documental de Luis García montero"><img src="http://video.lab.rtve.es/resources/memoria-futuro/image/logoatnls.png" style="width: 100%; height: auto;"></a>
					</div>
				</div>
				<div id="initvidInit" class="ft-cutie">Comenzar</div>
			</div>
		</div>
	</div>
	
</div>