<div id="initVid">
	<a href="#" id="jumpInitVid">Omitir</a>
	<div class="vid" data-autoplay="true" data-loop="false" data-controls="true" data-video="tTq63Or1pMA"></div>
	<div class="wk-valign">
		<div class="wk-valign-cont">
			<div class="homewrap">
				<div id="initVidMain">
					<video src="img/titulo.mp4?d"></video>
					<p id="arrastra" style="padding-top: 0.4em; color: #ccc; position: absolute; width: 100%; text-align: center;">arrastra para iniciar</p>
					<div id="initvidsub">
						<img src="img/sublogo.png" alt="">
					</div>
				</div>
				<div id="initvidLogos" style="width: 100%; margin: 0px auto; max-width: 400px; margin: 0 auto; opacity: 0;">
					<div class="wk-col-l wk-col-50">
						<p style=" margin: 0; color: #ccc; padding-top: 1em;">Producido por:</p>
						<a style="top: -12px; position: relative; display: inline-block; text-align: center; float: none;" class="lab" target="_blank" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
					</div>
					<div class="wk-col-l wk-col-50">
						<p style=" margin: 0; color: #ccc; padding-top: 1em;">A partir del documental:</p>
						<a class="atnls" target="_blank" href="http://www.aunquetunolosepas.es/" title="Conoce el documental de Luis García montero"><img src="img/logoatnls.png" style="width: 100%; height: auto;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>