<div id="initVid">
	<a href="#" id="jumpInitVid">Omitir</a>
	{# <video id="jfk-init-video" autoplay="" autobuffer="" class="introVideo" height="600" width="800" webkit-playsinline="">
      <source type="video/ogg" src="http://video.lab.rtve.es/resources/TE_NGVA/mp4/2013/jfk/intro-Kennedy.mp4">
      <source type="video/ogg" src="http://video.lab.rtve.es/resources/TE_NGVA/mp4/2013/jfk/intro-Kennedy.ogv">
      <source type="video/webm" src="http://video.lab.rtve.es/resources/TE_NGVA/mp4/2013/jfk/intro-Kennedy.webm">
      Lo sentimos, su navegador no soporta los formatos de video provistos.<br>Por favor, actualice su navegador.
    </video> #}
	<div class="vid" data-autoplay="true" data-loop="false" data-controls="true" data-video="tTq63Or1pMA"></div>
	<div class="wk-valign">
		<div class="wk-valign-cont">
			<div class="homewrap">
				<div id="initVidMain">
					<video src="http://video.lab.rtve.es/resources/memoria-futuro/video/titulo.mp4?d"></video>
					<div id="swipeIcon">
						<p id="arrastra" style="padding-top: 1.6em; color: rgb(102, 102, 102); position: absolute; width: 180px;text-align: left; display: block; left: 60px;">Desliza para comenzar</p>
					</div>
					<div id="initvidsub">
						<img src="http://video.lab.rtve.es/resources/memoria-futuro/image/sublogo.png" alt="">
					</div>
				</div>
				<div id="initvidLogos" style="width: 100%; margin: 0px auto; max-width: 500px; margin: 0 auto; opacity: 0;">
					<div class="wk-col-l wk-col-50" style="padding: 2.4em; padding-top: 0;">
						<p style=" margin: 0; color: #ccc; padding-top: 1em;">Producido por:</p>
						<a style="top: -12px; position: relative; display: inline-block; text-align: center; float: none;" class="lab" target="_blank" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
					</div>
					<div class="wk-col-l wk-col-50" style="padding: 2.4em; padding-top: 0;">
						<p style=" margin: 0; color: #ccc; padding-top: 1em;">A partir del documental:</p>
						<a class="atnls" target="_blank" href="http://www.aunquetunolosepas.es/" title="Conoce el documental de Luis García montero"><img src="http://video.lab.rtve.es/resources/memoria-futuro/image/logoatnls.png" style="width: 100%; height: auto;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>