<div id="poemas">

	<div class="head clearfix">
		<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
		<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
		<a class="hamb showMenu" href="#menu"></a>
		<a href="{{ path('home') }}" class="url-lib titleHome ft-cutie"><strong>Memoria de futuro:</strong></a>
		<span class="ft-cutie titleThis"><strong>La voz de Luis García Montero</strong></span>
	</div>
	
	<div class="poema-wrap">
		{% include twigFolder ~ '/pages/poema-wrap.html.twig' with {'poema': poema} %}

		<p style="margin-bottom: 0.4em; font-weight: 900">Escucha otro poema:</p>
		<ul class="ft-cutie" style="margin-bottom: 2em;">
			{% for poema, name in rawData['poemas'] %}
				<li><a class="url-lib" href="{{ path('poema', {'poema': poema}) }}">{{ name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
