{% if list is defined and list != false %}
	{% include twigFolder ~ '/blocks/poemas_list.html.twig'%}
{% endif %}

<div itemscope itemtype="http://schema.org/CreativeWork">

	<div itemprop="audio" itemscope itemtype="http://schema.org/AudioObject">
		{% if ajax is defined %}
			<div class="audio" src="{{ path('poemaAudio', {'poema': poemaId}) }}"></div>
		{% else %}
			<audio src="{{ path('poemaAudio', {'poema': poemaId}) }}"></audio>
		{% endif %}
	</div>
	
	<meta itemprop="author" content="Luis García Montero">
	<meta itemprop="genre" content="poem">

	{% include twigFolder ~ '/poemas/' ~ poemaId ~ '.html.twig'%}
</div>