<h2>Listado de poetas</h2>
<ul>
	{% for poeta, name in rawData['poetas'] %}

		{% set target = path('poeta', {'poeta': poeta}) %}
		
		<li><a class="url-lib {% if target == url %}url-current{% endif %}" href="{{ path('poeta', {'poeta': poeta}) }}">{{ name }}</a></li>

	{% endfor %}
</ul>
