<div id="poeta">

	<div class="head clearfix">
		<a class="rtve" href="http://www.rtve.es/" title="Proyecto en colaboración con rtve.es"></a>
		<a class="lab" href="http://www.rtve.es/lab/" title="Proyecto en colaboración con el lab de rtve.es"></a>
		<a class="hamb showMenu" href="#menu"></a>
		<a href="{{ path('home') }}" class="url-lib titleHome ft-cutie"><strong>Memoria de futuro:</strong></a>
	</div>
	
	<div class="page-poeta">
		{% include twigFolder ~ '/pages/poeta-inn.html.twig' with {'poeta': poeta, 'poeta': poeta, 'list': true} %}
	</div>

</div>
