<div class="poeta-col-l">
	{% if ajax is not defined %}
		<img src="./img/{{ poetaId | split('-') | first }}-alone.jpg">
	{% else %}
		<div class="preFoto" data-src="./img/{{ poetaId | split('-') | first }}-alone.jpg"></div>
	{% endif %}
</div>
<div class="poeta-col-R">
	{% if ajax is not defined %}
		<h2>Presentación de {{ poeta }}</h2>
	{% endif %}
	{% include twigFolder ~ '/poetas/' ~ poetaId ~ '.html.twig' %}
</div>