<div class="poeta-col-l">
	<img src="./img/{{ poetaId | split('-') | first }}-alone.jpg">
</div>
<div class="poeta-col-R">
	<h2>Texto de {{ poeta }}</h2>
	{% include twigFolder ~ '/poetas/' ~ poetaId ~ '.html.twig' %}
</div>