<div class="presentacion">
  <a href="{{ url('home') }}" class="hideCredits" title="oculta la ventana"></a>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/tTq63Or1pMA" frameborder="0" allowfullscreen></iframe>
</div>