<div class="col-redes">
	<div class="col-redes-left">
		<h2>Radar social de García Montero</h2>
		<p>Bienvenido a nuestro espacio para la poesía en la red.</p>
		<p>Utiliza el hastag <a href="#" data-text="Memoria de futuro " class="twIntent">#{{ rawData['hash'] }} y publica tus poemas, tus versos favoritos o tus opiniones sobre poesía.</a></p>
	</div>
	<div class="col-redes-main">
		
	</div>
</div>