<div class="col-redes">
	<div class="col-redes-left">
		<h2>Radar social de García Montero</h2>
		<p>Comparte lo que quieras en Instagram o Twitter con el hashtag <a href="#" data-text="Memoria de futuro " class="twIntent">#{{ rawData['hash'] }}</a></p>
	</div>
	<div class="col-redes-main">
		
	</div>
</div>